---
layout: demo-mpc
title: AdvanceClaim
---

<div class="container">
  <div id="MPCloudHero" class="carousel mpcloud-hero-carousel slide" data-ride="carousel">
    <div class="carousel-inner">

      <div class="carousel-item active">
        <div class="mpcloud-hero-carousel-row">
          <div class="mpcloud-hero-carousel-col">
              <h1 class="mpcloud-hero-carousel-title">
                Get Paid<br>Faster.
              </h1>
              <p class="mpcloud-hero-carousel-description">
                Finally, your EMS Agency can process more claims with fewer hassles and headaches.
              </p>
              <div class="mpcloud-hero-carousel-actions">
                <a href="#" class="btn btn-mpcloud" aria-label="EMS Claims">Watch Video</a>
              </div>
          </div>
          <div class="mpcloud-hero-carousel-col">
            <div class="mpcloud-hero-carousel-image-container">
              <picture class="mpcloud-hero-carousel-image-container-img" style="background-image: url('/assets/stock-photography/Pexels/MPCloud/pexels-rodnae-productions-6519877.jpg');">
                <source media="(min-width:650px)" srcset="/assets/stock-photography/Pexels/MPCloud/pexels-rodnae-productions-6519877.jpg">
                <source media="(min-width:465px)" srcset="/assets/stock-photography/Pexels/MPCloud/pexels-rodnae-productions-6519877.jpg">
                <img src="/assets/stock-photography/Pexels/MPCloud/pexels-rodnae-productions-6519877.jpg" alt="">
              </picture>
              <p class="mpcloud-hero-carousel-image-container-caption">Designed with features to make your life better</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

{% include _component-mpc-leading-content-carousel.html %}

<div class="container">
  <div class="row   mt-4 mb-3 my-md-5">
    <div class="col-12 col-md-8 col-lg-9 pr-lg-5">
        <h4 class="text-mp-blue mb-3">Spending all your time just keeping your business running smoothly?</h4>
        <h5 class="text-mp-blue">Subheading text</h5>
        <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt.</p>
        <h5 class="text-mp-blue">Subheading text</h5>
        <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt.</p>
        <h5 class="text-mp-blue">Subheading text</h5>
        <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt.</p>
    </div>
    <div class="col-12 col-md-4 col-lg-3">
      <h5 class="text-mp-blue">We Do it For You!</h5>
      <p>Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus.</p>
      <ul>
        <li>No more manual imports or uploads</li>
        <li>Auto-updates every 5 minutes</li>
        <li>Accept and process claims in 1 click</li>
        <li>Submit claims in seconds</li>
        <li>No envelopes, postage, or paper cuts</li>
        <li>100% HIPAA compliant</li>
        <li>Industry leading security and stability</li>
      </ul>
      <a href="#" class="btn btn-mpcloud w-100 my-3" aria-label="Sample CTA Button">Sample CTA Button</a>
      <a href="#" class="btn btn-mpcloud w-100 mb-3" aria-label="Sample CTA Button">Sample CTA Button</a>
    </div>
  </div>


  <div class="row   mb-3 mb-md-4">
    <div class="mpcloud-card-group">
      <div class="mpcloud-card">
        <div class="mpcloud-card-image">
          <img src="/assets/img/icon-advclaim-auto-coding.png" class="mpcloud-icon-image">
        </div>
        <p class="mpcloud-card-description">Proprietary AdvanceCode technology eliminates human error in claims processing by automatically populating base rates, mileage codes, and medical necessity selections.</p>
      </div>
      <div class="mpcloud-card">
        <div class="mpcloud-card-image">
          <img src="/assets/img/icon-advclaim-automated-verification.png" class="mpcloud-icon-image">
        </div>
        <p class="mpcloud-card-description">Real-time automated insurance verification can happen prior to transport with our industry-leading IntelligentEligibility™ technology.</p>
      </div>
      <div class="mpcloud-card">
        <div class="mpcloud-card-image">
          <img src="/assets/img/icon-advclaim-mine-databases.png" class="mpcloud-icon-image">
        </div>
        <p class="mpcloud-card-description">Our PlusID™ add-on tool will mine databases providing full SSN and vital patient information.</p>
      </div>
      <div class="mpcloud-card">
        <div class="mpcloud-card-image">
          <img src="/assets/img/icon-municipalities.png" class="mpcloud-icon-image">
        </div>
        <p class="mpcloud-card-description">Our industry-leading integrated clearinghouse technology give you built-in connections to over 3,000 government and private payers.</p>
      </div>
      <div class="mpcloud-card">
        <div class="mpcloud-card-image">
          <img src="/assets/img/icon-advclaim-ready-to-bill.png" class="mpcloud-icon-image">
        </div>
        <p class="mpcloud-card-description">Create ready-to-bill claims with one-click NEMSIS ePCR importing. Easily batch upload and reject claims all from one intuitive interface.</p>
      </div>
      <div class="mpcloud-card">
        <div class="mpcloud-card-image">
          <img src="/assets/img/icon-advclaim-cash-flow.png" class="mpcloud-icon-image">
        </div>
        <p class="mpcloud-card-description">Easily watch your revenues & cash flow with our built-in Back-to-Operation reporting portal.</p>
      </div>
    </div>
  </div>

  <div class="row   mb-3 mb-md-5">
    <div class="col-12 col-md-6">
      <div class="mpcloud-card">
        <div class="mpcloud-card-image">
          <img src="/assets/img/icon-advclaim-enterprise-level-security.png" class="mpcloud-icon-image">
        </div>
        <p class="mpcloud-card-description">Sleep easy knowing our Enterprise-level security, and ongoing HIPAA, ICD-10 and HITECH compliance are keeping your data safe and secure.</p>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="mpcloud-card">
        <div class="mpcloud-card-image">
          <img src="/assets/img/icon-advclaim-our-systems.png" class="mpcloud-icon-image">
        </div>
        <p class="mpcloud-card-description">Our systems are always on and available so you have the flexibility to operate on any device from anywhere with an Internet connection.</p>
      </div>
    </div>
  </div>

</div>

<div class="">
  {% include _component-mpc-pre-footer-accordion-block.html %}
  {% include _component-mpc-pre-footer-callout-block.html %}
</div>
