---
layout: demo-mpc
title: Home
---

<div class="container">
  {% include _component-mpc-hero.html %}
</div>

<div id="MPCloudLeadingContent" class="carousel mpcloud-leading-content-carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <p class="mpcloud-leading-content-carousel-comment">
          EMS Management Software - works 24/7 from anywhere you have an internet connection.
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row   mt-4 mb-3 mt-md-5 mb-md-4">
    <div class="col-12">
        <h2 class="text-mp-blue text-center">Spending all your time just keeping your business running smoothly?</h2>
    </div>
  </div>

  <div class="row   mb-5 mb-md-5">
    <div class="col-12">
        {% include _component-mpc-video-content-tile.html %}
    </div>
  </div>

  <div class="row   mb-3 mb-md-4 pb-3 pb-md-4">
    <div class="mpcloud-card-group">
      <div class="mpcloud-card">
        <div class="mpcloud-card-image">
          <img src="/assets/img/icon-municipalities.png" class="mpcloud-icon-image">
        </div>
        <div class="mpcloud-card-title">
          <h3>
            Fully Integrated Clearinghouse
          </h3>
        </div>
        <p class="mpcloud-card-description">Seamlessly connect to 5,200+ government and private payers via the EMS industry's first and only fully-integrated clearinghouse, Change Healthcare. This partnership makes it fast, simple, and reliable to process your claims.</p>
      </div>
      <div class="mpcloud-card">
        <div class="mpcloud-card-image">
          <img src="/assets/img/icon-insurance-verification.png" class="mpcloud-icon-image">
        </div>
        <div class="mpcloud-card-title">
          <h3>
            Insurance Verification
          </h3>
        </div>
        <p class="mpcloud-card-description">Instantly verify existing patient insurance by meticulously searching your region's top twenty payers for missing coverage information. With IntelligentEligibility™, rest easy knowing that you'll get paid prior to claims submission. That's our "No Claim Left Behind" promise.</p>
      </div>
      <div class="mpcloud-card">
        <div class="mpcloud-card-image">
          <img src="/assets/img/icon-advclaim-auto-coding.png" class="mpcloud-icon-image">
        </div>
        <div class="mpcloud-card-title">
          <h3>
            SmartCode
          </h3>
        </div>
        <p class="mpcloud-card-description">Our patent approved Auto-Coding analyzes the NEMSIS data points minimizing manpower and human error. Allowing you to submit 10 - 12,000 annual claims / FTE.</p>
      </div>
      <div class="mpcloud-card">
        <div class="mpcloud-card-image">
          <img src="/assets/img/icon-custom-reporting.png" class="mpcloud-icon-image">
        </div>
        <div class="mpcloud-card-title">
          <h3>
            Custom Reporting
          </h3>
        </div>
        <p class="mpcloud-card-description">Powerful, easy-to-use reporting tools allow custom and ad hoc reporting, facilitating faster recurring trips, providing companies more accurate documentation, and providing metrics for improved accountability.</p>
      </div>
    </div>
  </div>

  <div class="row   mt-4 mb-3 mt-md-5 mb-md-4">
    <div class="col-12 col-md-9 mx-auto">
        <h2 class="text-mp-blue text-center"><span class="text-md-nowrap">Respond Faster.</span> <span class="text-md-nowrap">Save Time.</span> <span class="text-md-nowrap">Reduce Errors.</span></h2>
        <h4 class="text-mp-blue text-center font-weight-normal mt-4">No more guesswork or manual data entry.</h4>
    </div>
    <div class="col-12 text-center pr-5 pt-5 pb-4">
      <img class="img-fluid" src="/assets/img/manual-versus-mpcloud-technologies-process.svg">
    </div>
  </div>

</div>

<div class="">
  {% include _component-mpc-pre-footer-content-block.html %}
  {% include _component-mpc-pre-footer-callout-block.html %}
</div>
