<div id="EMTechHeroCarousel" class="carousel emtech-hero-carousel slide" data-ride="carousel">

  <ol class="emtech-hero-carousel-indicators carousel-indicators">
    <li data-target="#EMTechHeroCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#EMTechHeroCarousel" data-slide-to="1"></li>
    <li data-target="#EMTechHeroCarousel" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">

    <div class="carousel-item active">
      <div class="emtech-hero-carousel-row">
        <div class="emtech-hero-carousel-col">
            <h1 class="emtech-hero-carousel-title">
              This is the 1st slide of multiple slides
            </h1>
            <p class="emtech-hero-carousel-description">
              This is the description for the 1st slide of multiple slides in this carousel.
            </p>
            <div class="emtech-hero-carousel-actions">
              <a href="#" class="btn btn-emtech btn-emtech-primary btn-emtech-lg" type="submit" aria-label="Action 01">Action 01</a>
              <a href="#" class="btn btn-emtech btn-emtech-primary btn-emtech-lg" type="submit" aria-label="Action 02">Action 02</a>
              <a href="#" class="btn btn-emtech btn-emtech-primary btn-emtech-lg" type="submit" aria-label="Action 03">Action 03</a>
            </div>
        </div>
        <div class="emtech-hero-carousel-col">
          <div class="emtech-hero-carousel-image-container">
            <picture class="emtech-hero-carousel-image-container-img" style="background-image: url('/assets/stock-photography/Pexels/MPCloud/pexels-rodnae-productions-6129037.jpg');">
              <source media="(min-width:650px)" srcset="/assets/stock-photography/Pexels/MPCloud/pexels-rodnae-productions-6129037.jpg">
              <source media="(min-width:465px)" srcset="/assets/stock-photography/Pexels/MPCloud/pexels-rodnae-productions-6129037.jpg">
              <img src="/assets/stock-photography/Pexels/MPCloud/pexels-rodnae-productions-6129037.jpg" alt="">
            </picture>
            <p class="emtech-hero-carousel-image-container-caption">This is the caption for the 1st slide.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="emtech-hero-carousel-row">
        <div class="emtech-hero-carousel-col">
            <h1 class="emtech-hero-carousel-title">
              This is the 2nd slide of multiple slides
            </h1>
            <p class="emtech-hero-carousel-description">
              This is the description for the 2nd slide of multiple slides in this carousel.
            </p>
            <div class="emtech-hero-carousel-actions">
              <a href="#" class="btn btn-emtech btn-emtech-primary btn-emtech-lg" type="submit" aria-label="Action 01">Action 01</a>
              <a href="#" class="btn btn-emtech btn-emtech-primary btn-emtech-lg" type="submit" aria-label="Action 02">Action 02</a>
            </div>
        </div>
        <div class="emtech-hero-carousel-col">
          <div class="emtech-hero-carousel-image-container">
            <picture class="emtech-hero-carousel-image-container-img" style="background-image: url('/assets/stock-photography/Pexels/MPCloud/pexels-rodnae-productions-6129112.jpg');">
              <source media="(min-width:650px)" srcset="/assets/stock-photography/Pexels/MPCloud/pexels-rodnae-productions-6129112.jpg">
              <source media="(min-width:465px)" srcset="/assets/stock-photography/Pexels/MPCloud/pexels-rodnae-productions-6129112.jpg">
              <img src="/assets/stock-photography/Pexels/MPCloud/pexels-rodnae-productions-6129112.jpg" alt="">
            </picture>
            <p class="emtech-hero-carousel-image-container-caption">This is the caption for the 2nd slide.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="emtech-hero-carousel-row">
        <div class="emtech-hero-carousel-col">
            <h1 class="emtech-hero-carousel-title">
              This is the 3rd slide of multiple slides
            </h1>
            <p class="emtech-hero-carousel-description">
              This is the description for the 3rd slide of multiple slides in this carousel.
            </p>
            <div class="emtech-hero-carousel-actions">
              <a href="#" class="btn btn-emtech btn-emtech-primary btn-emtech-lg" type="submit" aria-label="Action 01">Action 01</a>
            </div>
        </div>
        <div class="emtech-hero-carousel-col">
          <div class="emtech-hero-carousel-image-container">
            <picture class="emtech-hero-carousel-image-container-img" style="background-image: url('/assets/stock-photography/Unsplash/national-cancer-institute-701-FJcjLAQ-unsplash.jpg');">
              <source media="(min-width:650px)" srcset="/assets/stock-photography/Unsplash/national-cancer-institute-701-FJcjLAQ-unsplash.jpg">
              <source media="(min-width:465px)" srcset="/assets/stock-photography/Unsplash/national-cancer-institute-701-FJcjLAQ-unsplash.jpg">
              <img src="/assets/stock-photography/Unsplash/national-cancer-institute-701-FJcjLAQ-unsplash.jpg" alt="">
            </picture>
            <p class="emtech-hero-carousel-image-container-caption">This is the caption for the 3rd slide.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
