<div class="mpcloud-article-preview-tile">
  <div class="mpcloud-article-preview-tile-row">
    <a href="#" class="mpcloud-article-preview-tile-img" aria-label="" style="background-image: url('/assets/stock-photography/Pexels/MPCloud/pexels-rodnae-productions-6129104.jpg');">
        <img src="/assets/stock-photography/Pexels/MPCloud/pexels-rodnae-productions-6129104.jpg" alt="..." />
    </a>
    <div class="mpcloud-article-preview-tile-body">
      <a href="#" class="mpcloud-article-preview-tile-category" aria-label="Category">Category</a>
      <span class="mpcloud-article-preview-tile-pub-info">// September 30, 2019 // 7 min read</span>
      <h6 class="mpcloud-article-preview-tile-title">Title of the Article</h6>
      <p class="mpcloud-article-preview-tile-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere dicta officiis tenetur quas unde, at assumenda. Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
    </div>
  </div>
</div>
