<div class="mpcloud-video-content-tile">
  <div class="mpcloud-video-content-tile-row">
    <a href="#" class="mpcloud-video-content-tile-img" aria-label="Watch Video" style="background-image: url('/assets/stock-photography/Pexels/MPCloud/pexels-rodnae-productions-6129104.jpg');">
      <img src="/assets/stock-photography/Pexels/MPCloud/pexels-rodnae-productions-6129104.jpg" alt="..." />

      <div class="mpcloud-chip-video-asset">
        <i class="icon-play"></i>
        <span class="sr-only">Watch Video</span>
      </div>
    </a>
    <div class="mpcloud-video-content-tile-body">
      <h5 class="mpcloud-video-content-tile-title">Frustrated by billing inefficiencies? Tired of software providers falling short?</h5>
      <p class="mpcloud-video-content-tile-subtitle">MP Cloud can make your life better.</p>
      <p class="mpcloud-video-content-tile-text">Frustrated by billing inefficiencies? Tired of software providers falling short?</p>
      <div class="mpcloud-video-content-tile-actions">
        <button class="btn btn-mpcloud" type="submit" aria-label="Watch Video">Watch Video</button>
      </div>
    </div>
  </div>
</div>
