<div id="MPCloudCarousel" class="carousel carousel-mpcloud slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      First carousel item
    </div>
    <div class="carousel-item">
      Second carousel item
    </div>
    <div class="carousel-item">
      Third carousel item
    </div>
  </div>
  <a class="carousel-control-prev" href="#MPCloudCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#MPCloudCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
