<div id="EMTechHero" class="carousel emtech-hero-carousel slide" data-ride="carousel">
  <div class="carousel-inner">

    <div class="carousel-item active">
      <div class="emtech-hero-carousel-row">
        <div class="emtech-hero-carousel-col">
            <h1 class="emtech-hero-carousel-title">
              Get Paid Much Faster with Shorter Payment Turnaround Times
            </h1>
            <p class="emtech-hero-carousel-description">
              Ensure faster payment turnaround through electronic billing.
            </p>
            <div class="emtech-hero-carousel-actions">
              <a href="#" class="btn  btn-emtech btn-emtech-lg" type="submit" aria-label="Learn More">Learn More</a>
            </div>
        </div>
        <div class="emtech-hero-carousel-col">
          <div class="emtech-hero-carousel-image-container">
            <picture class="emtech-hero-carousel-image-container-img" style="background-image: url('/assets/stock-photography/Pexels/MPCloud/pexels-rodnae-productions-6129043.jpg');">
              <source media="(min-width:650px)" srcset="/assets/stock-photography/Pexels/MPCloud/pexels-rodnae-productions-6129043.jpg">
              <source media="(min-width:465px)" srcset="/assets/stock-photography/Pexels/MPCloud/pexels-rodnae-productions-6129043.jpg">
              <img src="/assets/stock-photography/Pexels/MPCloud/pexels-rodnae-productions-6129043.jpg" alt="">
            </picture>
            <p class="emtech-hero-carousel-image-container-caption">Streamline your payment processing with the EMTech Billing solution.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
