<div id="MPCloudHeroCarousel" class="carousel mpcloud-hero-carousel slide" data-ride="carousel">
  <ol class="mpcloud-hero-carousel-indicators carousel-indicators">
    <li data-target="#MPCloudHeroCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#MPCloudHeroCarousel" data-slide-to="1"></li>
    <li data-target="#MPCloudHeroCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">

    <div class="carousel-item active">
      <div class="mpcloud-hero-carousel-row">
        <div class="mpcloud-hero-carousel-col">
            <h1 class="mpcloud-hero-carousel-title">
              This is the 1st slide of multiple slides
            </h1>
            <p class="mpcloud-hero-carousel-description">
              This is the description for the 1st slide of multiple slides in this carousel.
            </p>
            <div class="mpcloud-hero-carousel-actions">
              <a href="#" class="btn btn-mpcloud" type="submit" aria-label="Action 1">Action 1</a>
              <a href="#" class="btn btn-mpcloud" type="submit" aria-label="Action 2">Action 2</a>
              <a href="#" class="btn btn-mpcloud" type="submit" aria-label="Action 3">Action 3</a>
            </div>
        </div>
        <div class="mpcloud-hero-carousel-col">
          <div class="mpcloud-hero-carousel-image-container">
            <picture class="mpcloud-hero-carousel-image-container-img" style="background-image: url('/assets/stock-photography/Pexels/MPCloud/pexels-rodnae-productions-6519877.jpg');">
              <source media="(min-width:650px)" srcset="/assets/stock-photography/Pexels/MPCloud/pexels-rodnae-productions-6519877.jpg">
              <source media="(min-width:465px)" srcset="/assets/stock-photography/Pexels/MPCloud/pexels-rodnae-productions-6519877.jpg">
              <img src="/assets/stock-photography/Pexels/MPCloud/pexels-rodnae-productions-6519877.jpg" alt="">
            </picture>
            <p class="mpcloud-hero-carousel-image-container-caption">This is the caption for the 1st slide.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-item">
        <div class="mpcloud-hero-carousel-row">
          <div class="mpcloud-hero-carousel-col">
              <h1 class="mpcloud-hero-carousel-title">
                This is the 2nd slide of multiple slides
              </h1>
              <p class="mpcloud-hero-carousel-description">
                This is the description for the 2nd slide of multiple slides in this carousel.
              </p>
              <div class="mpcloud-hero-carousel-actions">
                <a href="#" class="btn btn-mpcloud" type="submit" aria-label="Action 1">Action 1</a>
                <a href="#" class="btn btn-mpcloud" type="submit" aria-label="Action 2">Action 2</a>
              </div>
          </div>
          <div class="mpcloud-hero-carousel-col">
            <div class="mpcloud-hero-carousel-image-container">
              <picture class="mpcloud-hero-carousel-image-container-img" style="background-image: url('/assets/stock-photography/Pexels/MPCloud/pexels-rodnae-productions-6519833.jpg');">
                <source media="(min-width:650px)" srcset="/assets/stock-photography/Pexels/MPCloud/pexels-rodnae-productions-6519833.jpg">
                <source media="(min-width:465px)" srcset="/assets/stock-photography/Pexels/MPCloud/pexels-rodnae-productions-6519833.jpg">
                <img src="/assets/stock-photography/Pexels/MPCloud/pexels-rodnae-productions-6519833.jpg" alt="">
              </picture>
              <p class="mpcloud-hero-carousel-image-container-caption">This is the caption for the 2nd slide.</p>
            </div>
          </div>
        </div>
    </div>

    <div class="carousel-item">
        <div class="mpcloud-hero-carousel-row">
          <div class="mpcloud-hero-carousel-col">
              <h1 class="mpcloud-hero-carousel-title">
                This is the 3rd slide of multiple slides
              </h1>
              <p class="mpcloud-hero-carousel-description">
                This is the description for the 3rd slide of multiple slides in this carousel.
              </p>
              <div class="mpcloud-hero-carousel-actions">
                <a href="#" class="btn btn-mpcloud" type="submit" aria-label="Action 1">Action 1</a>
              </div>
          </div>
          <div class="mpcloud-hero-carousel-col">
            <div class="mpcloud-hero-carousel-image-container">
              <picture class="mpcloud-hero-carousel-image-container-img" style="background-image: url('/assets/stock-photography/Unsplash/myriam-zilles-7V95FwS2Ss4-unsplash.jpg');">
                <source media="(min-width:650px)" srcset="/assets/stock-photography/Unsplash/myriam-zilles-7V95FwS2Ss4-unsplash.jpg">
                <source media="(min-width:465px)" srcset="/assets/stock-photography/Unsplash/myriam-zilles-7V95FwS2Ss4-unsplash.jpg">
                <img src="/assets/stock-photography/Unsplash/myriam-zilles-7V95FwS2Ss4-unsplash.jpg" alt="">
              </picture>
              <p class="mpcloud-hero-carousel-image-container-caption">This is the caption for the 3rd slide.</p>
            </div>
          </div>
        </div>
    </div>

  </div>

</div>
