<div class="mpcloud-pre-footer-content-block">
  <hr class="mpcloud-pre-footer-content-block-hr">
  <div class="mpcloud-pre-footer-content-block-container">
    <div class="mpcloud-pre-footer-content-block-row">
      <h2 class="mpcloud-pre-footer-content-block-title">
        Helping EMS Agencies and 3rd Party Billing Companies Improve Efficiency and Profitability.
      </h2>
    </div>
    <div class="mpcloud-pre-footer-content-block-row">

    <div class="mpcloud-pre-footer-content-block-col">
      <h3 class="mpcloud-pre-footer-content-block-subtitle">
        <span class="text-nowrap">Get Paid Faster</span> <span class="text-nowrap">Than Ever Before.
      </h3>
      <p>Automated Imports and One-Click Search maximizes accuracy and efficiency by reducing redundancy and human error.</p>
      <a href="#" class="mpcloud-pre-footer-content-block-link" arial-label="AdvanceClaim for EMS Agencies">AdvanceClaim for EMS Agencies</a>
    </div>

    <div class="mpcloud-pre-footer-content-block-col">
      <h3 class="mpcloud-pre-footer-content-block-subtitle">
        <span class="text-nowrap">Double Claims</span> <span class="text-nowrap">Processing Speed.</span>
      </h3>
      <p>No more manual data entry. No more hoping it’s done in the morning. Find lost fees and revenue and see the entire financial picture.</p>
      <a href="#" class="mpcloud-pre-footer-content-block-link" arial-label="AdvanceClaim for EMS Billing">AdvanceClaim for EMS Billing</a>
    </div>

    <div class="mpcloud-pre-footer-content-block-col">
      <h3 class="mpcloud-pre-footer-content-block-subtitle">
        <span class="text-nowrap">Respond Faster.</span> <span class="text-nowrap">Reduce Errors.</span>
      </h3>
      <p>Dispatch with confidence using one-click patient information and insurance verification. No more guesswork or manual data entry.</p>
      <a href="#" class="mpcloud-pre-footer-content-block-link" arial-label="AdvanceDispatch">AdvanceDispatch</a>
    </div>

    </div>
  </div>
</div>
