<div class="mpcloud-card">
  <div class="mpcloud-card-image">
    <img src="/assets/img/icon-municipalities.png" class="mpcloud-icon-image">
  </div>
  <div class="mpcloud-card-title">
    <h3>
      Fully Integrated Clearinghouse
    </h3>
  </div>
  <p class="mpcloud-card-description">Seamlessly connect to 5,200+ government and private payers via the EMS industry's first and only fully-integrated clearinghouse, Change Healthcare. This partnership makes it fast, simple, and reliable to process your claims.</p>
</div>
