<div id="MPCloudHero" class="carousel mpcloud-hero-carousel slide" data-ride="carousel">
  <div class="carousel-inner">

    <div class="carousel-item active">
      <div class="mpcloud-hero-carousel-row">
        <div class="mpcloud-hero-carousel-col">
            <h1 class="mpcloud-hero-carousel-title">
              Fast and Easy EMS Claims, Billing & Dispatch.
            </h1>
            <p class="mpcloud-hero-carousel-description">
              EMS Agencies and Billing Companies across the country use MP Cloud to improve cash flow, streamline operations, and reduce errors in their everyday work.
            </p>
            <div class="mpcloud-hero-carousel-actions">
              <a href="#" class="btn btn-mpcloud" type="submit" aria-label="EMS Claims">EMS Claims</a>
              <a href="#" class="btn btn-mpcloud" type="submit" aria-label="EMS Billing">EMS Billing</a>
              <a href="#" class="btn btn-mpcloud" type="submit" aria-label="EMS Dispatch">EMS Dispatch</a>
            </div>
        </div>
        <div class="mpcloud-hero-carousel-col">
          <div class="mpcloud-hero-carousel-image-container">
            <picture class="mpcloud-hero-carousel-image-container-img" style="background-image: url('/assets/stock-photography/Pexels/MPCloud/pexels-rodnae-productions-6519860.jpg');">
              <source media="(min-width:650px)" srcset="/assets/stock-photography/Pexels/MPCloud/pexels-rodnae-productions-6519860.jpg">
              <source media="(min-width:465px)" srcset="/assets/stock-photography/Pexels/MPCloud/pexels-rodnae-productions-6519860.jpg">
              <img src="/assets/stock-photography/Pexels/MPCloud/pexels-rodnae-productions-6519860.jpg" alt="">
            </picture>
            <p class="mpcloud-hero-carousel-image-container-caption">1000’s of EMS companies nationwide trust MP Cloud</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
