<div class="mpcloud-pre-footer-accordion-block">
  <hr class="mpcloud-pre-footer-accordion-block-hr">
  <div class="mpcloud-pre-footer-accordion-block-container">
    <div class="mpcloud-pre-footer-accordion-block-row">
      <div class="mpcloud-pre-footer-accordion" id="mpcloudAccordion">
        <h5 class="mpcloud-pre-footer-accordion-heading">Frequently Asked Questions</h5>
        <div class="mpcloud-pre-footer-accordion-card">
          <div class="mpcloud-pre-footer-accordion-card-header" id="headingOne">
            <span class="mpcloud-pre-footer-accordion-number">01</span>
            <button class="btn mpcloud-pre-footer-accordion-btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis, ipsum?
              <i class="mpcloud-icon icon-chevron-down"></i>
            </button>
          </div>
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#mpcloudAccordion">
            <div class="mpcloud-pre-footer-accordion-card-body">
              Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis, ipsum?
            </div>
          </div>
        </div>
        <div class="mpcloud-pre-footer-accordion-card">
          <div class="mpcloud-pre-footer-accordion-card-header" id="headingTwo">
            <span class="mpcloud-pre-footer-accordion-number">02</span>
            <button class="btn mpcloud-pre-footer-accordion-btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis, ipsum?
              <i class="mpcloud-icon icon-chevron-down"></i>
            </button>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#mpcloudAccordion">
            <div class="mpcloud-pre-footer-accordion-card-body">
              Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis, ipsum?
            </div>
          </div>
        </div>
        <div class="mpcloud-pre-footer-accordion-card">
          <div class="mpcloud-pre-footer-accordion-card-header" id="headingThree">
            <span class="mpcloud-pre-footer-accordion-number">03</span>
            <button class="btn mpcloud-pre-footer-accordion-btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis, ipsum?
              <i class="mpcloud-icon icon-chevron-down"></i>
            </button>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#mpcloudAccordion">
            <div class="mpcloud-pre-footer-accordion-card-body">
              Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis, ipsum?
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
