<div class="mpcloud-pagination-container">
  <nav aria-label="Page navigation example">
    <ul class="mpcloud-pagination">
      <li class="mpcloud-page-item"><a class="mpcloud-page-link" href="#"><i class="mpcloud-icon icon-chevron-left"></i><span class="sr-only">Previous</span></a></li>
      <li class="mpcloud-page-item"><a class="mpcloud-page-link mpcloud-page-link-current" href="#">1</a></li>
      <li class="mpcloud-page-item active"><a class="mpcloud-page-link" href="#">2</a></li>
      <li class="mpcloud-page-item"><a class="mpcloud-page-link" href="#">3</a></li>
      <li class="mpcloud-page-item"><a class="mpcloud-page-link" href="#"><span class="sr-only">Next</span><i class="mpcloud-icon icon-chevron-right"></i></a></li>
    </ul>
  </nav>
</div>
