<div class="emtech-pre-footer-callout-block">
  <div class="emtech-pre-footer-callout-block-card">
    <div class="emtech-pre-footer-callout-block-card-row">
      <div class="col-lg-8">
        <div class="emtech-pre-footer-callout-block-card-body">
          <h3 class="emtech-pre-footer-callout-block-card-title">Faster Payment Turnaround</h3>
          <p class="emtech-pre-footer-callout-block-card-text">We shorten your turnaround time on payments by utilizing the latest software and internal policies to ensure clean claims submission the first time.</p>
          <a href="#" class="btn btn-emtech-primary" arial-label="Contact Us Today">Contact Us Today</a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="emtech-pre-footer-callout-block-card-image"></div>
      </div>
    </div>
  </div>
</div>
