<header class="mpcloud-header">
  <nav class="mpcloud-header-navbar">
    <div class="mpcloud-header-navbar-container">
      <a href="/demo/mpc/home.html" class="mpcloud-header-navbar-brand" aria-label="MP Cloud Technologies"><img src="/assets/img/MPTechnologies-brand.svg" width="140"></a>
      <button class="mpcloud-header-navbar-toggler" type="button" data-toggle="collapse" data-target="#mpcloudHeader" aria-controls="mpcloudHeader" aria-expanded="false" aria-label="Toggle navigation">
        <i class="mpcloud-icon icon-menu"></i>
        <i class="mpcloud-icon icon-close"></i>
      </button>
      <div class="collapse mpcloud-header-navbar-collapse" id="mpcloudHeader">
        <ul class="mpcloud-header-navbar-nav">
          <li class="mpcloud-header-navbar-nav-item"><a href="/demo/mpc/advance-claim/" class="mpcloud-header-navbar-nav-link{% if page.url == "/demo/mpc/advance-claim.html" %} active{% endif %}" aria-label="AdvanceClaim">AdvanceClaim</a></li>
          <li class="mpcloud-header-navbar-nav-item"><a href="#" class="mpcloud-header-navbar-nav-link" aria-label="AdvanceDispatch">AdvanceDispatch</a></li>
          <li class="mpcloud-header-navbar-nav-item"><a href="#" class="mpcloud-header-navbar-nav-link" aria-label="About Us">About Us</a></li>
          <li class="mpcloud-header-navbar-nav-item"><a href="#" class="mpcloud-header-navbar-nav-link" aria-label="Our Promise">Our Promise</a></li>
          <li class="mpcloud-header-navbar-nav-item"><a href="/request-a-demo/" class="btn btn-mpcloud" aria-label="Request a Demo">Request a Demo</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
