.mpcloud-breadcrumbs {
  align-items: center;
  
  &-backlink i {
    font-size: .75rem;
    color: $mp-blue !important;
  }
  &-backlink {
    display: inline-block;
    font-weight: 600;
    text-decoration: none !important;

    &-label {
      text-decoration: underline !important;
    }

    &:hover {
      text-decoration: none !important;

      .mpcloud-breadcrumbs-backlink-label {
        text-decoration: none !important;
      }
    }
  }
}
