.btn-mpcloud,
body.mpcloud-sticky-header .hs-button.primary {
  color: $white !important;
  background-color: $pulse-red;
  font-weight: bold;
  border: 2px solid $pulse-red-light;
  position: relative;
  //@include button-size(.5rem, .75rem, 1.125rem, .75rem, .5rem);
  font-size: 1.125rem;
  padding: .5rem .75rem;
  text-decoration: none !important;
  height: auto;
  width: auto;

  &-lg,
  &.large {
    //@include button-size(8px, 13.5px, 22px, 28px, 6px);
    font-size: 1.25rem;
    padding: .75rem;
  }

  @include media-breakpoint-down(lg) {
    padding-left: .75rem !important;
    padding-right: .75rem !important;
  }

  &:hover,
  &:active {
    color: $white !important;
    background-color: $pulse-red-dark;
    border-color: $pulse-red-lighter;
    text-decoration: none !important;
  }

  &:focus {
    box-shadow: none;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: -.25rem;
      bottom: -.25rem;
      right: -.25rem;
      left: -.25rem;
      box-shadow: 0 0 2px 1px $cloud-blue-light;
      border-radius: 6px;
      z-index: 1;
    }
  }
}

.btn-emtech,
body.emtech-sticky-header .hs-button.primary {
  font-weight: bold;
  //@include button-size(.5rem, .75rem, 1.125rem, .75rem, .5rem);
  font-size: 1.125rem;
  padding: .5rem .75rem;

  &-lg,
  &.large {
    //@include button-size(12px, 21.5px, 22px, 28px, 6px);
    font-size: 1.25rem;
    padding: .75rem;
    text-decoration: none !important;
  }

  @include media-breakpoint-down(lg) {
    padding-left: .75rem !important;
    padding-right: .75rem !important;
  }

  &-primary {
    color: $gray !important;
    background-color: rgba($white, .6);
    border: 2px solid $emt-orange;
    position: relative;
    text-decoration: none !important;

    &:hover,
    &:active {
      color: $gray !important;
      border-color: $emt-orange-dark;
      text-decoration: none !important;
    }

  &:focus {
    box-shadow: none;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: -.25rem;
      bottom: -.25rem;
      right: -.25rem;
      left: -.25rem;
      box-shadow: 0 0 2px 1px $emt-orange-light;
      border-radius: .375rem;
      z-index: 1;
    }
  }

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 1px;
      bottom: 1px;
      right: 1px;
      left: 1px;
      border: 3px solid $emt-orange-lightest;
      z-index: 1;
    }
  }

  &-secondary {
    color: $white;
    background-color: $emt-gray-darker;
    border: 2px solid $emt-gray-light;
    position: relative;

    &:hover,
    &:active {
      color: $white;
      background-color: $emt-gray-dark;
      border-color: $emt-gray-lighter;
    }

    &:focus {
      box-shadow: none;

      &::after {
        content: '';
        display: block;
        position: absolute;
        top: -.25rem;
        bottom: -.25rem;
        right: -.25rem;
        left: -.25rem;
        box-shadow: 0 0 2px 1px $emt-orange-light;
        border-radius: 6px;
        z-index: 1;
      }
    }
  }
}

.tag-mpcloud {
  font-weight: bold;
  color: $pulse-red;
  text-decoration: underline;
  border: 1px solid $cloud-blue-lighter;
  position: relative;
  @include button-size(4.25px, 16px, 12px, 16px, 14.25px);

  &:hover,
  &:active {
    color: $pulse-red;
    text-decoration: underline;
    background-color: $cloud-blue-lightest;
    border-color: $cloud-blue-light;
  }

  &:focus {
    box-shadow: none;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: -3px;
      bottom: -3px;
      right: -3px;
      left: -3px;
      box-shadow: 0 0 2px 1px $cloud-blue-light;
      border-radius: 14.25px;
      z-index: 1;
    }
  }
}

a[class*="btn"], button[class*="btn"]:not([data-toggle="collapse"]), input[class*="btn"],
a[class*="chip"], button[class*="chip"]:not([data-toggle="collapse"]), input[class*="chip"] {
  animation: scaleOut 0.16s;
  text-decoration: none !important;

  &:hover {
    animation: scaleIn 0.16s;
    transform-origin: center;
    animation-fill-mode: forwards;
    text-decoration: none !important;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.06);
  }
}

@keyframes scaleOut {
  from {
    transform: scale(1.06);
  }
  to {
    transform: scale(1);
  }
}
