.btn-mpcloud {
  color: $white;
  background-color: $pulse-red;
  font-weight: bold;
  border: 2px solid $pulse-red-light;
  position: relative;
  @include button-size(6.5px, 18.75px, 18px, 23px, 6px);

  &-lg {
    @include button-size(8px, 13.5px, 22px, 28px, 6px);
  }

  &:hover,
  &:active {
    color: $white;
    background-color: $pulse-red-dark;
    border-color: $pulse-red-lighter;
  }

  &:focus {
    box-shadow: none;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: -4px;
      bottom: -4px;
      right: -4px;
      left: -4px;
      box-shadow: 0 0 2px 1px $cloud-blue-light;
      border-radius: 6px;
    }
  }
}

.btn-emtech {
  font-weight: bold;
  @include button-size(6.5px, 18.75px, 18px, 23px, 6px);

  &-primary {
    color: $gray;
    background-color: rgba($white, .6);
    border: 2px solid $emt-orange;
    position: relative;

    &:hover,
    &:active {
      color: $gray;
      border-color: $emt-orange-dark;
    }

  &:focus {
    box-shadow: none;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: -4px;
      bottom: -4px;
      right: -4px;
      left: -4px;
      box-shadow: 0 0 2px 1px $emt-orange-light;
      border-radius: 6px;
    }
  }
  
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 1px;
      bottom: 1px;
      right: 1px;
      left: 1px;
      border: 3px solid $emt-orange-lightest;
    }
  }

  &-secondary {
    color: $white;
    background-color: $emt-gray-darker;
    border: 2px solid $emt-gray-light;
    position: relative;

    &:hover,
    &:active {
      color: $white;
      background-color: $emt-gray-dark;
      border-color: $emt-gray-lighter;
    }

    &:focus {
      box-shadow: none;

      &::after {
        content: '';
        display: block;
        position: absolute;
        top: -4px;
        bottom: -4px;
        right: -4px;
        left: -4px;
        box-shadow: 0 0 2px 1px $emt-orange-light;
        border-radius: 6px;
      }
    }
  }

  &-lg {
    @include button-size(12px, 21.5px, 22px, 28px, 6px);
  }
}

.tag-mpcloud {
  font-weight: bold;
  color: $pulse-red;
  text-decoration: underline;
  border: 1px solid $cloud-blue-lighter;
  position: relative;
  @include button-size(4.25px, 16px, 12px, 15px, 14.25px);

  &:hover,
  &:active {
    color: $pulse-red;
    text-decoration: underline;
    background-color: $cloud-blue-lightest;
    border-color: $cloud-blue-light;
  }

  &:focus {
    box-shadow: none;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: -3px;
      bottom: -3px;
      right: -3px;
      left: -3px;
      box-shadow: 0 0 2px 1px $cloud-blue-light;
      border-radius: 14.25px;
    }
  }
}
