.mpcloud-leading-content-carousel,
.emtech-leading-content-carousel {
  min-width: 9.375rem;

  .carousel-inner {
    margin: 0 auto;
    max-width: 75%;
    z-index: 2;
  }

  &-comment {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.4;
  }

  &-author {
    font-size: 1rem;
    margin-bottom: 0rem;
  }

  .carousel-inner {
    color: $white;
    .carousel-item {
      text-align: center;
      padding: 3rem 0;
    }
  }

  .carousel-control-prev,
  .carousel-control-next {

    &:hover,
    &:active {
      .carousel-control-prev-icon,
      .carousel-control-next-icon {
        &::before {
          border: .125rem solid $white;
        }
      }
    }

    &:focus {
      .carousel-control-prev-icon,
      .carousel-control-next-icon {
        &::after {
          display: block;
          position: absolute;
          border-radius: 50%;
        }
      }
      .carousel-control-prev-icon {
        &::after {
          font-family: 'emtechandmpcloudIcons';
          content: '\e910';
        }
      }
      .carousel-control-next-icon {
        &::after {
          font-family: 'emtechandmpcloudIcons';
          content: '\e911';
        }
      }
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      position: relative;
      background-image: none;

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: -13px;
        padding: 1.5rem;
        border: .125rem solid rgba($white, .6);
        border-radius: 50%;
      }
    }

    .carousel-control-prev-icon {
      &::before {
        left: -.813rem;
      }
      &::after {
        font-family: 'emtechandmpcloudIcons';
        content: '\e910';
      }
    }

    .carousel-control-next-icon {
      &::before {
        left: -1rem;
      }
      &::after {
        font-family: 'emtechandmpcloudIcons';
        content: '\e911';
      }
    }
  }
}

.mpcloud-leading-content-carousel {
  background: linear-gradient(90deg, #1AA1BD 0.04%, #141B4D 100%);

  &:after {
    content: '';
    background-image: url('/assets/img/mpcloud-leading-content-decor-asset.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 11.75rem;
    height: 11.75rem;
    position: absolute;
    top: 50%;
    left: 2rem;
    opacity: 0.3;
    transform: translateY(-50%);
    z-index: 0;
  }

  .carousel-control-prev,
  .carousel-control-next {

    &:focus {
      .carousel-control-prev-icon,
      .carousel-control-next-icon {
        &::after {
          box-shadow: 0 0 .125rem 1px $cloud-blue-light;
        }
      }

      .carousel-control-prev-icon {
        &::after {
          padding-top: .938rem;
          padding-right: .125rem;
          top: -.938rem;
          bottom: -17px;
          right: -17px;
          left: -.938rem;
        }
      }

      .carousel-control-next-icon {
        &::after {
          padding-top: .938rem;
          padding-left: .25rem;
          top: -.938rem;
          bottom: -17px;
          right: -14px;
          left: -1.125rem;
        }
      }
    }
  }
}

.emtech-leading-content-carousel {
  background: linear-gradient(90deg, #FFB34C 0%, #BD6C00 100%);

  &:after {
    content: '';
    background-image: url('/assets/img/emtech-leading-content-decor-asset.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 13.75rem;
    height: 13.75rem;
    position: absolute;
    top: 50%;
    left: 2rem;
    opacity: 0.5;
    transform: translateY(-50%);
    z-index: 0;
  }

  .carousel-control-prev,
  .carousel-control-next {

    &:focus {
      .carousel-control-prev-icon,
      .carousel-control-next-icon {
        &::after {
          box-shadow: 0 0 .125rem 1px $emt-orange-light;
        }
      }

      .carousel-control-prev-icon {
        &::after {
          padding-top: 1rem;
          padding-right: .125rem;
          top: -1rem;
          bottom: -1.125rem;
          right: -1.125rem;
          left: -1rem;
        }
      }

      .carousel-control-next-icon {
        &::after {
          padding-top: 1rem;
          padding-left: .25rem;
          top: -1rem;
          bottom: -1.125rem;
          right: -.938rem;
          left: -1.188;
        }
      }
    }
  }
}



.mpcloud-hero-carousel,
.emtech-hero-carousel {

  .carousel-inner {
    margin: 0 auto;
    z-index: 2;
  }

  &-row {
    @extend .row;
    @extend .align-items-center;

    @include media-breakpoint-down(md) {
      flex-direction: column-reverse;
    }
  }

  &-title {
    font-size: 4rem;
    font-weight: 900;
    line-height: 1.25;
    margin-bottom: 2rem;

    @include media-breakpoint-down(md) {
      font-size: 3.5rem;
    }

    @include media-breakpoint-down(sm) {
      font-size: 3rem;
      margin-bottom: 1rem;
    }
  }

  &-description {
    font-size: 1.25rem;
    margin-bottom: 2rem;

    @include media-breakpoint-down(sm) {
      margin-bottom: 1rem;
    }
  }

  &-actions {
    .btn:not(:last-child){
      margin-bottom: .5rem;
      margin-right: .5rem;

      @include media-breakpoint-down(sm) {
        margin-right: 0rem;
      }
    }
  }

  .carousel-inner {
    .carousel-item {
      text-align: left;
      padding: 4rem 0;

      @include media-breakpoint-down(md) {
        padding: 2rem 0;
      }

      @include media-breakpoint-down(sm) {
        padding: 0rem;
      }
    }
  }
}

.mpcloud-leading-content-carousel,
.emtech-leading-content-carousel,
.mpcloud-hero-carousel,
.emtech-hero-carousel {
  &-indicators {
    @extend .carousel-indicators;
    align-items: center;

    li {
      width: .75rem;
      height: .75rem;
      border-radius: 100%;
      background: transparent;
      box-shadow: inset 0px 0px 0px 1px $white;

      &.active {
        box-shadow: inset 0px 0px 0px 2px $white;
      }
    }
  }
}

.mpcloud-hero-carousel {
  color: $mp-blue;

  &-row {
    @extend .justify-content-between;
  }

  &-col {

    &:first-child {
      @extend .col-12;
      @extend .col-lg-5;
      @extend .pr-lg-2;
      @extend .mr-lg-5;
    }

    &:last-child {
      @extend .col-12;
      @extend .col-lg-6;
      @include media-breakpoint-down(md) {
        display: block;
      }
    }
  }

  &-indicators {
    li {
      box-shadow: inset 0px 0px 0px 1px $mp-blue;

      &.active {
        box-shadow: inset 0px 0px 0px 2px $mp-blue;
      }
    }
  }

  &-image-container {
    border-radius: 1.5rem;
    background: $cloud-blue-lightest;
    padding: 3rem 3rem 0;
    background-image: url('/assets/img/hero-carousel-image-container-decor-mpc.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @include media-breakpoint-down(lg) {
      padding: 2rem 2rem 0;
    }

    @include media-breakpoint-down(md) {
      padding: 1rem;
      margin-bottom: -4.5rem;
      transform: scale(0.65) translateX(-11.75rem);
    }

    @include media-breakpoint-down(sm) {
      padding: 1rem;
      margin-bottom: -4rem;
      transform: scale(.5) translateX(-10.5rem);
    }

    &-img {
      background-image: url('/assets/stock-photography/Pexels/MPCloud/pexels-rodnae-productions-6519860.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      height: 28rem;
      display: flex;
      border-radius: 1.5rem;

      @include media-breakpoint-down(md) {
        height: 18rem;
      }

      @include media-breakpoint-down(sm) {
        height: 18rem;
      }

      img {
        opacity: 0;
        height: auto;
        width: 100%;
      }
    }

    &-caption {
      padding: .75rem 0 1.25rem;

      @include media-breakpoint-down(md) {
        padding: .5rem 0 1rem;
      }

      @include media-breakpoint-down(sm) {
        padding: .25rem 0 .75rem;
        display: none;
      }
    }

  }

  .carousel-inner {
    .carousel-item {
      text-align: left;
      padding: 2rem 0;

      @include media-breakpoint-down(md) {
        padding: 1rem 0;
      }

      @include media-breakpoint-down(sm) {
        padding: 0rem;
      }
    }
  }
}

.emtech-hero-carousel {
  color: $emt-gray;


  .carousel-item {
    &:after {
      content: '';
      background-image: url('/assets/img/hero-carousel-decor-emt.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 50.625rem;
      height: 56.625rem;
      position: absolute;
      top: 50%;
      right: -9.5rem;
      transform: translateY(-50%) scale(.75);
      z-index: 1;

      @include media-breakpoint-down(sm) {
        right: -25.5rem;
      }
    }
  }

  &-row {
    @extend .justify-content-between;
    z-index: 2;
    position: relative;
  }

  &-col {
    @include media-breakpoint-up(md) {
      padding-right: 3rem;
    }

    &:first-child {
      @extend .col-12;
      @extend .col-lg-8;
    }

    &:last-child {
      @extend .col-12;
      @extend .col-lg-4;
      @extend .pl-lg-0;
      @include media-breakpoint-down(md) {
        display: block;
      }
    }
  }

  &-title,
  &-description {
    color: $emt-gray;
  }

  &-image-container {
    border: 0.125rem solid rgba(223,223,225,0.15);
    border-radius: 1.25rem;
    background-color: rgba(255,255,255,0.6);
    padding: 1rem;
    box-shadow: inset 0px 0px 0px 1px $white, inset 0px 0px 0px 3px #f0f0f0, 0px 0px 0px 3px rgba(223,223,225,.5);

    @include media-breakpoint-down(lg) {
      padding: 2rem;
    }

    @include media-breakpoint-down(md) {
      padding: 1rem;
      margin-bottom: -1.5rem;
      transform: scale(0.65) translateX(-11.75rem);
    }

    @include media-breakpoint-down(sm) {
      padding: 1rem;
      margin-bottom: -4rem;
      transform: scale(.5) translateX(-10.5rem);
    }

    &-img {
      background-image: url('/assets/stock-photography/Pexels/MPCloud/pexels-rodnae-productions-6129043.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      height: 20.5rem;
      display: flex;
      border-radius: 1.25rem;

      @include media-breakpoint-down(md) {
        height: 18rem;
      }

      @include media-breakpoint-down(sm) {
        height: 18rem;
      }

      img {
        opacity: 0;
        height: auto;
        width: 100%;
      }
    }

    &-caption {
      line-height: 1.5;
      border: 0.125rem solid rgba(223,223,225,.15);
      border-radius: 1.25rem;
      background-color: #fff;
      position: absolute;
      width: 80%;
      bottom: -2.5rem;
      right: 1.5rem;
      font-size: 1rem;
      font-weight: 600;
      text-align: center;
      transform: scale(0.9);
      transform-origin: center right;
      padding: .875rem;
      box-shadow: inset 0px 0px 0px 1px $white, inset 0px 0px 0px 3px #f0f0f0, 0px 0px 0px 3px rgba(223,223,225,.5);

      @include media-breakpoint-down(md) {
        padding: .5rem;
        width: 50%;
        right: .5rem;
      }

      @include media-breakpoint-down(sm) {
        padding: .25rem;
        display: none;
      }
    }
  }

  &-indicators {
    li {
      box-shadow: inset 0px 0px 0px 1px $emt-gray;

      &.active {
        box-shadow: inset 0px 0px 0px 2px $emt-gray;
      }
    }
  }
}
