
.mpcloud-card {
  @extend .py-5;
  @extend .px-4;

  width: auto;
  //height: 100%;
  border: 2px solid $cloud-blue-lighter;
  border-radius: 1.5rem;
  background-color: $white;
  box-shadow: 0 -20px 34px -22px rgba(26,161,189,0.31);
  color: $mp-blue;

  &-image {
    @extend .mb-3;
    @extend .text-center;
  }
  &-title {
    @extend .mb-3;

    h3 {
      @extend .text-center;
      font-size: 1.5rem;
    }
  }
  &-description {
    @extend .text-left;
    @extend .mb-0;
  }
}

.mpcloud-card-group,
.mpcloud-tile-group,
.emtech-card-group,
.emtech-tile-group {
  @extend .container;
  //@extend .col-12;
  @extend .pb-4;
  @extend .pb-md-0;

  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 2rem;
  justify-content: center;

  @include media-breakpoint-down(sm) {
    grid-template-columns: 100%;
    grid-gap: 1.5rem;
  }
}

.emtech-tile-group {

  grid-template-columns: 33.33%  33.33%  33.33%;
  grid-row-gap: 0rem;
  grid-column-gap: 4rem;
  padding: 0 5rem;

  @include media-breakpoint-down(md) {
    grid-template-columns: 50% 50%;
    grid-column-gap: 3.5rem;
    padding: 0 2.5rem;
  }

  @include media-breakpoint-down(sm) {
    grid-template-columns: 100%;
    padding: 0;
  }
}

.emtech-card {
  @extend .p-5;
  display: flex;
  flex-direction: column;
  width: auto;
  //height: 100%;
  border: 1px solid rgba(239,240,240,1);
  border-radius: 1.5rem;
  background-color: $white;
  box-shadow: 0 -10px 34px -22px rgba(83,86,90,0.31);
  color: $emt-gray;
  position: relative;
  box-shadow: inset 0px 0px 0px 4px white, inset 0px 0px 0px 6px rgba(239,240,240,1);
  max-width: 35rem;

  &-image {
    @extend .mb-3;
    @extend .text-center;

    .emtech-chip-card-asset {
      display: flex;
      justify-content: center;
    }
  }
  &-title {
    @extend .mb-3;

    h3 {
      @extend .text-center;
      font-size: 1.5rem;
    }
  }
  &-description {
    @extend .text-left;
    @extend .mb-0;
  }
}

.emtech-tile {
  @extend .pt-4;
  @extend .pb-5;
  @extend .px-0;
  min-height: 23.125rem;
  width: auto;
  color: $emt-gray;
  position: relative;
  max-width: 25rem;

  &-image {
    @extend .mb-3;
    @extend .text-left;

    .emtech-chip-tile-asset {
      display: flex;
      justify-content: flex-start;
    }
  }
  &-title {
    @extend .mb-3;

    h3 {
      @extend .text-left;
      font-size: 1.5rem;
    }
  }
  &-description {
    @extend .text-left;
  }
}

.mpcloud-article-preview-tile,
.emtech-article-preview-tile {
  @extend .container;
  color: $mp-blue;
  border-bottom: 1px solid $cloud-blue-light;

  &-row {
    @extend .row;
    @extend .justify-content-center;
  }

  &-img {
    @extend .col-12;
    @extend .col-md-4;
    @extend .col-lg-3;

    background-image: url('/assets/stock-photography/Pexels/MPCloud/pexels-rodnae-productions-6129104.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 1.5rem;
    margin: 1.5rem 0rem;

    @include media-breakpoint-down(sm) {
      margin: 1rem 0rem 0rem;
    }

    img {
      width: 100%;
      height: auto;
      opacity: 0;
      max-height: 10.25rem;

      @include media-breakpoint-down(sm) {
        max-height: 13.25rem;
      }
    }
  }

  &-body {
    @extend .card-body;
    @extend .col-12;
    @extend .col-md-8;
    @extend .col-lg-9;

    @include media-breakpoint-down(sm) {
      padding: 1rem 0rem;
    }
  }

  &-title {
    @extend .card-title;
  }

  /*
  &-category {
    @extend .d-inline-block;
    font-size: .75rem;
    font-weight: 600;
    color: $pulse-red;
    text-decoration: underline !important;

    &:hover {
      color: $pulse-red;
      text-decoration: none !important;
    }
  }
  */

  &-pub-info {
    @extend .pub-info;
    @extend .d-inline-block;
    font-size: .75rem;
    color: $emt-gray;
  }

  &-text {
    @extend .card-text;
    font-size: .925rem;
  }
}

.mpcloud-section-content-tile,
.emtech-section-content-tile,
.emtech-video-content-tile,
.mpcloud-video-content-tile {
  @extend .container;
  color: $mp-blue;
  //border-bottom: 1px solid $cloud-blue-light;

  &-row {
    @extend .row;
    @extend .justify-content-center;
    @extend .align-items-start;
  }

  &-img {
    @extend .col-12;
    @extend .col-md-5;
    @extend .col-lg-4;
    background-image: url('/assets/stock-photography/Pexels/MPCloud/pexels-rodnae-productions-6129104.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 1.5rem;
    margin: 1.5rem 0rem;

    @include media-breakpoint-down(sm) {
      margin: 1rem 0rem;
    }

    img {
      width: 100%;
      height: auto;
      opacity: 0;
      max-height: 12.25rem;

      @include media-breakpoint-down(sm) {
        max-height: 13.25rem;
      }

      @include media-breakpoint-up(lg) {
        max-height: 15.25rem;
      }
    }

    .mpcloud-chip-video-asset {
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }

  &-body {
    @extend .card-body;
    @extend .col-12;
    @extend .col-md-7;
    @extend .col-lg-8;

    @include media-breakpoint-down(sm) {
      padding: 0rem 0rem 1rem;
    }
  }

  &-title {
    @extend .card-title;
  }

  &-subtitle {
    @extend .card-title;
    font-weight: bold;
  }

  &-text {
    @extend .card-text;
    font-size: .925rem;
  }
}

.mpcloud-section-content-tile,
.emtech-section-content-tile {

  &-img {
    flex: 0 0 40%;
    max-width: 40%;
    padding: 2rem;

    @include media-breakpoint-down(sm) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  &-body {
    flex: 0 0 60%;
    max-width: 60%;
    padding-left: 3rem;

    @include media-breakpoint-down(md) {
      padding-left: 2rem;
    }

    @include media-breakpoint-down(sm) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}

.mpcloud-section-content-tile {
  color: $mp-blue;
  &-img {
    background-color: $cloud-blue-lightest;
  }
}

.emtech-section-content-tile {
  color: $emt-gray;
  &-img {
    background-color: $gray-10;
  }
  &-title {
    color: $emt-gray;
  }
}



.mpcloud-topic-tile,
.emtech-topic-tile {
  &-body {
    @extend .card-body;
    @extend .col-12;

    @include media-breakpoint-down(sm) {
      padding-left: 0rem !important;
      padding-right: 0rem !important;
      padding-top: 0rem !important;
      padding-bottom: 0rem !important;
    }
  }

  &-img {
    @extend .col-12;
    background-image: url('/assets/stock-photography/Pexels/MPCloud/pexels-rodnae-productions-6129104.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 1.5rem;
    margin: 1.5rem 0rem;

    @include media-breakpoint-down(sm) {
      margin: 1rem 0rem;
    }

    &.bg-contain {
      background-size: auto 95%;
    }

    img {
      width: 100%;
      height: auto;
      opacity: 0;
      max-height: 25.25rem;

      @include media-breakpoint-up(lg) {
        max-height: 25.25rem;
      }

      @include media-breakpoint-down(sm) {
        max-height: 33.25rem;
      }
    }
  }

  &-title {
    @extend .mb-3;
    @extend .text-left;
    font-size: 2rem;
  }

  &-description {
    @extend .text-left;
  }
}

.mpcloud-topic-tile {
  &-title,
  &-description {
    color: $mp-blue !important;
  }
}
.emt-topic-tile {
  &-title,
  &-description {
    color: $emt-gray !important;
  }
}
