.mpcloud-chip,
.emtech-chip,
.mpcloud-chip-video-asset {
  @extend .btn;

  &:focus {
    box-shadow: none;
  }

  [class*='icon-'] {
    position: relative;
    font-size: 1rem;
    color: $white;
  }

  position: relative;
  padding: 0rem;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
}

.mpcloud-chip,
.mpcloud-chip-video-asset {
  background-color: $mp-blue-dark;
  border: none;

  &:focus {
    outline: 0;
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: -.25rem;
        bottom: -.25rem;
        right: -.25rem;
        left: -.25rem;
        box-shadow: 0 0 2px 1px $cloud-blue-light;
        border-radius: 100%;
        z-index: 1;
      }
  }
  &:hover,
  &:active {
    background-color: $mp-blue-light;

    [class*='icon-']{
      color: $white;
    }
  }
}

.mpcloud-chip-video-asset {
  width: 5rem;
  height: 5rem;
  background: linear-gradient(90deg, rgba(26,161,189,1) 0.04%, rgba(20,27,77,1) 100%);

  [class*='icon-'] {
    font-size: 2rem;
    text-shadow: 0 3px 1px 0 rgba(20,27,77,0.8);
  }
}

.emtech-chip {
  &:focus {
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: -.375rem;
      bottom: -.375rem;
      right: -.375rem;
      left: -.375rem;
      box-shadow: 0 0 2px 1px $emt-orange-light;
      border-radius: 100%;
      z-index: 1;
    }
  }

  background-color: $emt-gray-darker;
  border: 2px solid $emt-gray-light;

  &:hover,
  &:active {
    background-color: $emt-gray-dark;
    border-color: $emt-gray-lighter;

    [class*='icon-'] {
      color: $white;
    }
  }
}

.emtech-chip-card-asset,
.emtech-chip-tile-asset {
  @extend .btn;

  &:focus {
    box-shadow: none;
  }

  [class*='icon-'] {
    position: relative;
    font-size: 36px;
    color: $emt-orange;
    padding: 26px;
    background-color: rgba($white, .6);
    border-radius: 50%;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: -4px;
      left: -4px;
      padding: 48px;
      background-image:  url('../assets/img/card-assest-chip-border-emt.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
