.chip-mpcloud,
.chip-emtech {
  @extend .btn;

  &:focus {
    box-shadow: none;
  }

  span {
    position: relative;
    font-size: 16px;
    color: $white;
    padding: 16px;
    border-radius: 50%;
  }
}

.chip-mpcloud {
  &:focus {
    span {
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: -3px;
        left: -3px;
        padding: 27px;
        box-shadow: 0 0 2px 1px $cloud-blue-light;
        border-radius: 50%;
      }
    }
  }

  span {
    background-color: $mp-blue-dark;
    border: none;

    &:hover,
    &:active {
      color: $white;
      background-color: $mp-blue-light;
    }
  }
}

.chip-emtech {
  &:focus {
    span {
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: -6px;
        left: -6px;
        padding: 30px;
        box-shadow: 0 0 2px 1px $emt-orange-light;
        border-radius: 50%;
      }
    }
  }

  span {
    background-color: $emt-gray-darker;
    border: 2px solid $emt-gray-light;

    &:hover,
    &:active {
      color: $white;
      background-color: $emt-gray-dark;
      border-color: $emt-gray-lighter;
    }
  }
}

.chip-emtech-card-asset,
.chip-emtech-tile-asset {
  @extend .btn;

  &:focus {
    box-shadow: none;
  }

  span {
    position: relative;
    font-size: 36px;
    color: $emt-orange;
    padding: 26px;
    background-color: rgba($white, .6);
    border-radius: 50%;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: -4px;
      left: -4px;
      padding: 48px;
      background-image:  url('../assets/img/card-assest-chip-border-emt.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
