// Primaries
$mp-blue:             #141B4D !default;
$primary:             $mp-blue; // temporary so nothing breaks
$pulse-red:           #ec1731 !default;
$sky-blue:            #00A2BC !default;
$cloud-blue:          #C4E6E4 !default;
$emtech-orange:       #FF9E1B !default;

// Plus Products
$plusid:              #9A08B9 !default;
$pluscoverage:        #00A2BC !default;
$pluspayment:         #059E26 !default;

// Dark
$mp-blue-dark:        #0F1439 !default;
$pulse-red-dark:      #EE2737 !default;
$sky-blue-dark:       #1AA1BD !default;
$cloud-blue-dark:     #1AA1BD !default;
$em-primary-dark:     #FF9E1B !default;

// Light
$mp-blue-light:       #1E2975 !default;
$pulse-red-light:     #F25E6A !default;
$sky-blue-light:      #2CC3E2 !default;
$cloud-blue-light:    #E0F6FB !default;
$em-primary-light:    #FFB34C !default;

// Lighter
$mp-blue-lighter:     #1E2975 !default;
$pulse-red-lighter:   #F25E6A !default;
$sky-blue-lighter:    #2CC3E2 !default;
$cloud-blue-lighter:  #E0F6FB !default;
$em-primary-lighter:  #FFB34C !default;

// Lightest
$mp-blue-lightest:    #1E2975 !default;
$pulse-red-lightest:  #F25E6A !default;
$sky-blue-lightest:   #2CC3E2 !default;
$cloud-blue-lightest: #E0F6FB !default;
$em-primary-lightest: #FFB34C !default;

// Greys
$black:               #000 !default;
$gray-90:             #333 !default;
$gray-80:             #4c4c4c !default;
$gray-70:             #666 !default;
$gray-60:             #7f7f7f !default;
$gray-50:             #999 !default;
$gray-40:             #b2b2b2 !default;
$gray-30:             #ccc !default;
$gray-20:             #e5e5e5 !default;
$gray-10:             #f0f0f0 !default;
$gray-5:              #fafafa !default;
$white:               #fff !default;


/*************************************************
 * Utilities
 */

$mpc-theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$mpc-theme-colors: map-merge(
  (
    "mp-blue":             $mp-blue,
    "pulse-red":           $pulse-red,
    "sky-blue":            $sky-blue,
    "cloud-blue":          $cloud-blue,
    "emtech-orange":       $emtech-orange,
    "plusid":              $plusid,
    "pluscoverage":        $pluscoverage,
    "pluspayment":         $pluspayment,
    "mp-blue-dark":        $mp-blue-dark,
    "pulse-red-dark":      $pulse-red-dark,
    "sky-blue-dark":       $sky-blue-dark,
    "cloud-blue-dark":     $cloud-blue-dark,
    "em-primary-dark":     $em-primary-dark,
    "mp-blue-light":       $mp-blue-light,
    "pulse-red-light":     $pulse-red-light,
    "sky-blue-light":      $sky-blue-light,
    "cloud-blue-light":    $cloud-blue-light,
    "em-primary-light":    $em-primary-light,
    "mp-blue-lighter":     $mp-blue-lighter,
    "pulse-red-lighter":   $pulse-red-lighter,
    "sky-blue-lighter":    $sky-blue-lighter,
    "cloud-blue-lighter":  $cloud-blue-lighter,
    "em-primary-lighter":  $em-primary-lighter,
    "mp-blue-lightest":    $mp-blue-lightest,
    "pulse-red-lightest":  $pulse-red-lightest,
    "sky-blue-lightest":   $sky-blue-lightest,
    "cloud-blue-lightest": $cloud-blue-lightest,
    "em-primary-lightest": $em-primary-lightest,
    "black":               $black,
    "gray-90":             $gray-90,
    "gray-80":             $gray-80,
    "gray-70":             $gray-70,
    "gray-60":             $gray-60,
    "gray-50":             $gray-50,
    "gray-40":             $gray-40,
    "gray-30":             $gray-30,
    "gray-20":             $gray-20,
    "gray-10":             $gray-10,
    "gray-5":              $gray-5,
    "white":               $white
  ),
  $mpc-theme-colors
);

@each $color, $value in $mpc-theme-colors {
  .text-#{$color} {
    color: $color !important;
  }
  .bg-#{$color} {
    background-color: $color !important;
  }

}
