// Primaries
$primary:          #171950 !default;
$accent:           #ec1731 !default;
$sky-blue:         #00A2BC !default;
$cloud-blue:       #C4E6E4 !default;


// Lights
$primary-light:    #f280b1 !default;
$accent-light:     #7694cc !default;
$sky-blue-light:   #7ddbdb !default;
$cloud-blue-light: #f9d98a !default;

// Darks
$primary-dark:     #db036a !default;
$accent-dark:      #030387 !default;
$sky-blue-dark:    #05aaaa !default;
$cloud-blue-dark:  #f9b303 !default;

// Greys
$black:        #000 !default;
$gray-90:      #333 !default;
$gray-80:      #4c4c4c !default;
$gray-70:      #666 !default;
$gray-60:      #7f7f7f !default;
$gray-50:      #999 !default;
$gray-40:      #b2b2b2 !default;
$gray-30:      #ccc !default;
$gray-20:      #e5e5e5 !default;
$gray-10:      #f0f0f0 !default;
$gray-5:       #fafafa !default;
$white:        #fff !default;

/*************************************************
 * Utilities
 */

// Text Colors
.text-primary     { color: $primary !important; }
.text-accent   { color: $accent !important; }
.text-sky-blue     { color: $sky-blue !important; }
.text-cloud-blue   { color: $cloud-blue !important; }

.text-primary-light     { color: $primary-light !important; }
.text-accent-light   { color: $accent-light !important; }
.text-sky-blue-light     { color: $sky-blue-light !important; }
.text-cloud-blue-light   { color: $cloud-blue-light !important; }

.text-primary-dark     { color: $primary-dark !important; }
.text-accent-dark   { color: $accent-dark !important; }
.text-sky-blue-dark     { color: $sky-blue-dark !important; }
.text-cloud-blue-dark   { color: $cloud-blue-dark !important; }

.text-black    { color: $black !important; }
.text-gray-90  { color: $gray-90 !important; }
.text-gray-80  { color: $gray-80 !important; }
.text-gray-70  { color: $gray-70 !important; }
.text-gray-60  { color: $gray-60 !important; }
.text-gray-50  { color: $gray-50 !important; }
.text-gray-40  { color: $gray-40 !important; }
.text-gray-30  { color: $gray-30 !important; }
.text-gray-20  { color: $gray-20 !important; }
.text-gray-10  { color: $gray-10 !important; }
.text-gray-5   { color: $gray-5 !important; }
.text-white    { color: $white !important; }

// Background Colors
.bg-primary          { background-color: $primary !important; }
.bg-accent           { background-color: $accent !important; }
.bg-sky-blue         { background-color: $sky-blue !important; }
.bg-cloud-blue       { background-color: $cloud-blue !important; }

.bg-primary-light    { background-color: $primary-light !important; }
.bg-accent-light     { background-color: $accent-light !important; }
.bg-sky-blue-light   { background-color: $sky-blue-light !important; }
.bg-cloud-blue-light { background-color: $cloud-blue-light!important; }

.bg-primary-dark     { background-color: $primary-dark !important; }
.bg-accent-dark   { background-color: $accent-dark !important; }
.bg-sky-blue-dark     { background-color: $sky-blue-dark !important; }
.bg-cloud-blue-dark   { background-color: $cloud-blue-dark !important; }

.bg-black         { background-color: $black !important; }
.bg-gray-90       { background-color: $gray-90 !important; }
.bg-gray-80       { background-color: $gray-80 !important; }
.bg-gray-70       { background-color: $gray-70 !important; }
.bg-gray-60       { background-color: $gray-60 !important; }
.bg-gray-50       { background-color: $gray-50 !important; }
.bg-gray-40       { background-color: $gray-40 !important; }
.bg-gray-30       { background-color: $gray-30 !important; }
.bg-gray-20       { background-color: $gray-20 !important; }
.bg-gray-10       { background-color: $gray-10 !important; }
.bg-gray-5        { background-color: $gray-5 !important; }
.bg-white         { background-color: $white !important; }
