// MP Blue
$mp-blue:             #141B4D !default;
$mp-blue-dark:        #0F1439 !default;
$mp-blue-light:       #1E2975 !default;
$mp-blue-lighter:     #AAB2E9 !default;
$mp-blue-lightest:    #DFE2F7 !default;
$primary:             $mp-blue; // temporary so nothing breaks

// Pulse Red
$pulse-red:           #EE2737 !default;
$pulse-red-dark:      #A10D19 !default;
$pulse-red-light:     #F25E6A !default;
$pulse-red-lighter:   #F9B8BD !default;
$pulse-red-lightest:  #FDE7E9 !default;

// Cloud Blue
$cloud-blue:          #1AA1BD !default;
$cloud-blue-dark:     #147A8F !default;
$cloud-blue-light:    #2CC3E2 !default;
$cloud-blue-lighter:  #AAE7F3 !default;
$cloud-blue-lightest: #E0F6FB !default;

// EMtech Orange
$em-orange:           #FF9E1B !default;
$em-orange-dark:      #BD6C00 !default;
$em-orange-light:     #FFB34C !default;
$em-orange-lighter:   #FFB34C !default;
$em-orange-lightest:  #FFDEB3 !default;

// Plus Products
$plusid:              #9A08B9 !default;
$pluscoverage:        #00A2BC !default;
$pluspayment:         #059E26 !default;

// Greys
$gray:                #53565A !default;
$gray-darker:         #2A2B2D !default;
$gray-dark:           #333538 !default;
$gray-light:          #53565A !default;
$gray-lighter:        #9FA3A7 !default;
$gray-lightest:       #D5D6D8 !default;

// leaving legacy colors for now
$black:               #000 !default;
$gray-90:             #333 !default;
$gray-80:             #4c4c4c !default;
$gray-70:             #666 !default;
$gray-60:             #7f7f7f !default;
$gray-50:             #999 !default;
$gray-40:             #b2b2b2 !default;
$gray-30:             #ccc !default;
$gray-20:             #e5e5e5 !default;
$gray-10:             #f0f0f0 !default;
$gray-5:              #fafafa !default;
$white:               #fff !default;


/*************************************************
 * Utilities
 */

$mpc-theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$mpc-theme-colors: map-merge(
  (
    "mp-blue":             $mp-blue,
    "pulse-red":           $pulse-red,
    "cloud-blue":          $cloud-blue,
    "em-orange":           $em-orange,
    "plusid":              $plusid,
    "pluscoverage":        $pluscoverage,
    "pluspayment":         $pluspayment,
    "mp-blue-dark":        $mp-blue-dark,
    "pulse-red-dark":      $pulse-red-dark,
    "cloud-blue-dark":     $cloud-blue-dark,
    "em-orange-dark":      $em-orange-dark,
    "mp-blue-light":       $mp-blue-light,
    "pulse-red-light":     $pulse-red-light,
    "cloud-blue-light":    $cloud-blue-light,
    "em-orange-light":     $em-orange-light,
    "mp-blue-lighter":     $mp-blue-lighter,
    "pulse-red-lighter":   $pulse-red-lighter,
    "cloud-blue-lighter":  $cloud-blue-lighter,
    "em-orange-lighter":   $em-orange-lighter,
    "mp-blue-lightest":    $mp-blue-lightest,
    "pulse-red-lightest":  $pulse-red-lightest,
    "cloud-blue-lightest": $cloud-blue-lightest,
    "em-orange-lightest":  $em-orange-lightest,
    "gray":                $gray,
    "gray-darker":         $gray-darker,
    "gray-dark":           $gray-dark,
    "gray-light":          $gray-light,
    "gray-lighter":        $gray-lighter,
    "gray-lightest":       $gray-lightest,
    "black":               $black,
    "gray-90":             $gray-90,
    "gray-80":             $gray-80,
    "gray-70":             $gray-70,
    "gray-60":             $gray-60,
    "gray-50":             $gray-50,
    "gray-40":             $gray-40,
    "gray-30":             $gray-30,
    "gray-20":             $gray-20,
    "gray-10":             $gray-10,
    "gray-5":              $gray-5,
    "white":               $white
  ),
  $mpc-theme-colors
);

@each $color, $value in $mpc-theme-colors {
  .text-#{$color} {
    color: $value !important;
  }
  .bg-#{$color} {
    background-color: $value !important;
  }

}
