footer {
  //margin-top: 10rem;
  background-color: $gray-10;
  color: $gray-80;
  .row {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .info-group {
    @extend .col-sm-12;
    @extend .col-md-6;
    @extend .col-lg-3;

    ul {
      list-style-type: none;
      margin: 0;
      margin-bottom: 2rem;
      padding: 0;
    }

    p {
      font-size: .9rem;
      margin-bottom: 1rem;
    }
  }

  a {
    color: $white !important;
    text-decoration: none !important;

    &:hover {
      color: $white !important;
      text-decoration: underline !important;
    }
  }

  .subfooter {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: $gray-20;
    text-align: center;
    color: $gray-60;

    .brand-statement {
      img {
        margin-bottom: 1rem;
        width: 90px;
      }
      p {
        padding: 0 3rem;
        font-size: .8rem;
        font-weight: 600;
        color: $gray-80;
      }
    }
    p {
      font-size: .7rem;
    }
    .social-stack {
      margin-top:1rem;
      i.fab {
        color: $gray-60;
        &:hover {
          color: $primary;
        }
      }
    }

  }
}

.mpcloud-pre-footer-content-block,
.mpcloud-pre-footer-accordion-block {
  @extend .w-100;
  display: inline-block;
  background-color: $cloud-blue-lightest;
  color: $mp-blue;

  &-hr {
    position: relative;
    height: .25rem;
    background-color: $white;
    border: none;
    margin: .4rem 3.75rem;

    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: -1.2rem;
      width: 2.5rem;
      height: 2.5rem;
    }

    &::before {
      left: -2.5rem;
      background: url('../assets/img/PreFooterLeft.svg');
    }

    &::after {
      right: -2.5rem;
      background: url('../assets/img/PreFooterRight.svg');
    }
  }

  &-container {
    @extend .container;
    padding: 3rem 4rem;

    @include media-breakpoint-down(sm) {
      padding: 1.5rem;
    }
  }

  &-row {
    @extend .row;
  }

  &-col {
    @extend .col-4;
    @extend .px-4;

    &:first-child,
    &:last-child {
      //@extend .pl-0;
    }

    @include media-breakpoint-down(md) {
      width: 100%;
      padding: 0;
    }

    @include media-breakpoint-down(sm) {
      margin: 1.5rem 0;
      flex-basis: 100%;
    }
  }

  &-title {
    @extend .col;
    @extend .text-center;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 3rem;

    @include media-breakpoint-down(sm) {
      font-size: 2rem;
      margin-bottom: 0rem;
    }
  }

  &-subtitle {
    @extend .text-left;
    font-size: 1.5rem;
    font-weight: bold;
  }

  &-link {
    color: $mp-blue !important;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.mpcloud-pre-footer-accordion {
  @extend .accordion;
  color: $mp-blue;
  font-size: 1.125rem;
  flex-basis: 100%;

  &-heading {
    padding-bottom: .5rem;
  }

  &-block-row {
    margin: 0rem !important;
  }

  &-card {
    @extend .card;
    background: none;
    border: none;

    &:not(:last-child){
      border-bottom: 1px solid $cloud-blue-light !important;
    }

    &-header {
      @extend .card-header;
      position: relative;
      background: none;
      padding: 1rem 0;
      border-color: transparent;
      margin-bottom: 0 !important;
      font-size: 1.125rem;
      color: $mp-blue;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;

      @include media-breakpoint-up(lg) {
        white-space: nowrap;
        align-items: center;
      }

      i {
        display: block;
        position: absolute;
        top: .25rem;
        right: .25rem;
        font-size: 1.5rem;
        color: $cloud-blue-light;
        text-align: center;
      }
    }

    &-body {
      @extend .card-body;
      padding: 0 1rem 2rem 3.5rem;

      @include media-breakpoint-up(lg) {
        padding: 0 1rem 2rem 2.5rem;
        max-width: 95%;
      }
    }
  }

  &-number {
    vertical-align: middle;

    @include media-breakpoint-down(md) {
      padding: .375rem .75rem;
    }
  }

  &-btn-link {
    @extend .btn-link;
    font-size: 1.125rem;
    font-weight: bold;
    color: $mp-blue;
    text-align: left;
    padding-top: 0;
    padding-right: calc(.75rem + 1.5rem);
    padding-bottom: 0;
    padding-left: .75rem;
    padding-right: 3rem;
    position: relative;
    display: block !important;
    width: 100%;


    &:hover {
      color: $mp-blue !important;
      text-decoration: none !important;
    }
  }

  &-btn-link[aria-expanded="true"] i {
    transform: rotate(-180deg);
  }

  &-btn-link[aria-expanded="false"] i {
    transform: rotate(0deg);
  }


  .mpcloud-pre-footer-accordion-heading {
    margin-top: 0rem !important;
  }
}

.mpcloud-pre-footer-callout-block,
.emtech-pre-footer-callout-block {
  background-image: url('../assets/stock-photography/Pexels/MPCloud/pexels-rodnae-productions-6129043.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4rem 2rem;
  position: relative;
  width: 100%;

  @include media-breakpoint-down(lg) {
    padding: 2rem;
  }

  @include media-breakpoint-down(md) {
    padding: 2.5rem 1rem;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  &-card {
    @extend .card;
    @extend .container;
    @extend .mx-auto;

    border: none;
    border-radius: 1.5rem;
    padding: 0rem;

    &-row {
      @extend .row;
      @extend .no-gutters;

      border-radius: 1.5rem;
      overflow: hidden;

      @include media-breakpoint-down(sm) {
        flex-direction: column-reverse;
      }
    }

    &-col {
      &:first-child {
        @extend .col-lg-7;
      }
      &:last-child {
        @extend .col-lg-5;
        @extend .px-0;
      }
    }

    &-body {
      @extend .card-body;
      @extend .container;
      padding: 2.5rem;

      @include media-breakpoint-down(sm) {
        padding: 1.5rem;

        .btn {
            width: 100%;
        }
      }
    }

    &-title {
      @extend .card-title;

      color: $mp-blue;
    }

    &-text {
      @extend .card-text;

      margin-bottom: 2rem;

      @include media-breakpoint-down(sm) {
        margin-bottom: 1rem;
      }
    }

    &-image {
      background-size: cover;
      background-position: center;
      height: 100%;

      @include media-breakpoint-down(md) {
        min-height: 20.625rem;
      }
    }
  }

  &-card,
  &-card-row {
    z-index: 1;
  }

  .mpcloud-pre-footer-callout-block-card,
  .emtech-pre-footer-callout-block-card {
    .mpcloud-pre-footer-callout-block-card-title,
    .emtech-pre-footer-callout-block-card-title {
      margin-top: 0 !important;
      margin-bottom: 1.625rem;

      @include media-breakpoint-down(sm) {
        margin-bottom: 1rem;
      }
    }
  }
}

.mpcloud-pre-footer-callout-block {
  &::after {
    background-image: linear-gradient(90deg, rgba($cloud-blue, .8) 0.04%, rgba($mp-blue, .8) 100%);
  }
}

.mpcloud-pre-footer-callout-block-card-title {
  color: $mp-blue;
}

.mpcloud-pre-footer-callout-block-card-image {
  background-image: url('/assets/stock-photography/Pexels/MPCloud/pexels-rodnae-productions-6519844.jpg');
}

.emtech-pre-footer-callout-block {
  &::after {
    background-image: linear-gradient(90deg, rgba($emt-orange-light, .8) 0.04%, rgba($emt-orange-dark, .8) 100%);
  }
}

.emtech-pre-footer-callout-block-card-title {
  color: $emt-gray;
}

.emtech-pre-footer-callout-block-card-image {
  background-image: url('/assets/stock-photography/Pexels/MPCloud/pexels-rodnae-productions-6129105.jpg');
}

.mpcloud-footer,
.emtech-footer {
  color: $white;
  display: flex;
  flex-direction: column;
  width: 100%;

  &-container {
    @extend .container;

    @include media-breakpoint-down(lg) {
      padding: 0rem 2rem;
    }
    @include media-breakpoint-up(al) {
      padding: 1.5rem 0rem;
    }
  }

  &-row {
    @extend .text-left;
    @extend .row;
    padding: 0.875rem 0 !important;

    @include media-breakpoint-up(sm) {
      text-align: center;
    }

    &-chip-wrapper {
      @extend .text-center;
      @extend .mb-3;
      padding: 0;
    }
  }

  &-col {
    @extend .col;
  }

  &-section {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.25rem;
    margin-bottom: .5rem;

    &-text {
      margin-top: 2.2125rem;

      &-line {
        font-size: 1rem !important;
        margin-bottom: 1.125rem !important;
      }
    }
  }

  &-link {
    color: $white !important;
    display: block;
    font-size: 1rem;
    margin-bottom: .5rem;

    &:hover,
    &:active {
      color: $white !important;
    }
  }

  &-img {
    @extend .img-fluid;
  }

  &-copyright {
    padding: .75rem 0;
    text-align: center;
  }
}

hr.mpcloud-hr {
  position: relative;
  height: .25rem;
  background-color: $cloud-blue-lighter;
  border: none;
  margin: 2.5rem 2.75rem;
  transform: translateY(-1rem);
  opacity: 0.5;

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: -1.2rem;
    width: 2.625rem;
    height: 2.5rem;
  }

  &::before {
    left: -2.625rem;
    background: url('../assets/img/HorizontalRuleDecorLeft.svg');
  }

  &::after {
    right: -2.625rem;
    background: url('../assets/img/HorizontalRuleDecorRight.svg');
  }
}

hr.emtech-hr {
  border-style: none;
  border-bottom: 1px solid $emt-gray-lighter;
  position: relative;

  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: .75rem;
    height: .75rem;
    border: 1px solid $emt-gray-lighter;
    border-radius: 100%;
    top: -.325rem;
  }
  &:before {
    left: -.75rem;
  }
  &:after {
    right: -.75rem;
  }
}

.mpcloud-footer {
  background-color: $mp-blue;
  color: $white;

  p {
    color: $white;
  }

  &-hr {
    position: relative;
    height: .25rem;
    background-color: $mp-blue;
    border: none;
    margin: .5rem 3.75rem;
    transform: translateY(-1rem);

    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: -1.2rem;
      width: 2.625rem;
      height: 2.5rem;
    }

    &::before {
      left: -2.625rem;
      background: url('../assets/img/FooterContentBlockDecorLeft.svg');
    }

    &::after {
      right: -2.625rem;
      background: url('../assets/img/FooterContentBlockDecorRight.svg');
    }
  }

  &-row {
    &:last-child {
      @extend .pt-3;
      @extend .pt-md-0;
    }
  }

  &-col {
    @include media-breakpoint-down(lg) {
      &:not(:last-child) {
        border-bottom: 1px solid $mp-blue-lighter;
        margin-bottom: 1.5rem;
      }
    }
    @include media-breakpoint-up(xl) {
      &:not(:last-child) {
        border-right: 1px solid $mp-blue-lighter;
      }
    }
  }

  &-copyright {
    background-color: $mp-blue-dark;
  }
}

.emtech-footer {
  background-color: $emt-gray-darker;
  color: $white;

  p {
    color: $white;
  }

  &-section-lg {
    font-size: 1.5rem;
    margin-bottom: .25rem;
  }

  &-col {

    @include media-breakpoint-down(md) {
      &:not(:last-child) {
        border-bottom: 1px solid $emt-gray-light;
        margin-bottom: 1.5rem;
      }
    }
    @include media-breakpoint-up(lg) {
      &:not(:last-child) {
        border-right: 1px solid $emt-gray-light;
      }
    }
  }

  &-copyright {
    background-color: $emt-gray-dark;
  }
}
