footer {
  margin-top: 10rem;
  background-color: $gray-10;
  color: $gray-80;
  .row {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .info-group {
    @extend .col-sm-12;
    @extend .col-md-6;
    @extend .col-lg-3;

    ul {
      list-style-type: none;
      margin: 0;
      margin-bottom: 2rem;
      padding: 0;
    }

    p {
      font-size: .9rem;
      margin-bottom: 1rem;
    }
  }

  a {
    color: #4c4c4c;
    &:hover {
      color: $primary;
    }
  }

  .subfooter {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: $gray-20;
    text-align: center;
    color: $gray-60;

    .brand-statement {
      img {
        margin-bottom: 1rem;
        width: 90px;
      }
      p {
        padding: 0 3rem;
        font-size: .8rem;
        font-weight: 600;
        color: $gray-80;
      }
    }
    p {
      font-size: .7rem;
    }
    .social-stack {
      margin-top:1rem;
      i.fab {
        color: $gray-60;
        &:hover {
          color: $primary;
        }
      }
    }

  }
}

.mpcloud-pre-footer-content-block,
.mpcloud-pre-footer-accordion-block {
  display: inline-block;
  background-color: $cloud-blue-lightest;

  &-hr {
    position: relative;
    height: 4px;
    background-color: $white;
    border: none;
    margin: 7px 60px;

    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: -19px;
      width: 42px;
      height: 40px;
    }

    &::before {
      left: -42px;
      background: url('../assets/img/PreFooterLeft.svg');
    }

    &::after {
      right: -42px;
      background: url('../assets/img/PreFooterRight.svg');
    }
  }

  &-container {
    @extend .container;
    padding-top: 56px;
    padding-right: 142px;
    padding-bottom: 80px;
    padding-left: 142px;
  }

  &-row {
    @extend .row;
  }

  &-title {
    @extend .col;
    @extend .text-center;
    font-size: 48px;
    font-weight: bold;
  }
}

.mpcloud-pre-footer-accordion {
  @extend .accordion;
  color: $mp-blue;
  font-size: 18px;

  &-heading {
    padding-bottom: 8px;
  }

  &-card {
    @extend .card;
    background: none;
    border: none;

    &-header {
      @extend .card-header;
      position: relative;
      background: none;
      padding: 23px 0;
      border-color: $cloud-blue-light;
      margin-bottom: 0 !important;

      @include media-breakpoint-up(lg) {
        white-space: nowrap;
      }

      &::after {
        font-family: 'emtechandmpcloudIcons';
        content: '\e90f';
        display: block;
        position: absolute;
        top: 35%;
        right: 0;
        height: 24px;
        width: 23px;
        color: $cloud-blue-light;
        text-align: center;
      }
    }

    &-body {
      @extend .card-body;
    }
  }

  &-number {
    vertical-align: middle;

    @include media-breakpoint-down(md) {
      padding: 6px 12px;
    }
  }

  &-btn-link {
    @extend .btn-link;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    padding-top: 0;
    padding-right: calc(12px + 23px);
    padding-bottom: 0;
    padding-left: 12px;
  }

  .mpcloud-pre-footer-accordion-heading {
    margin-top: 0 !important;
  }
}

.mpcloud-pre-footer-callout-block,
.emtech-pre-footer-callout-block {
  background-image: url('../assets/stock-photography/Pexels/MPCloud/pexels-rodnae-productions-6129043.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3rem 2rem;
  position: relative;
  width: 100%;

  @include media-breakpoint-down(md) {
    padding: 1rem;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  &-card {
    @extend .card;
    @extend .container;

    border: none;
    border-radius: 1.5rem;
    padding: 0rem;

    &-row {
      @extend .row;
      @extend .no-gutters;

      border-radius: 1.5rem;
      overflow: hidden;

      @include media-breakpoint-down(sm) {
        flex-direction: column-reverse;
      }
    }

    &-body {
      @extend .card-body;
      padding: 2.5rem;

      @include media-breakpoint-down(sm) {
        padding: 1.5rem;

        .btn {
            width: 100%;
        }
      }
    }

    &-title {
      @extend .card-title;

      color: $mp-blue;
    }

    &-text {
      @extend .card-text;

      margin-bottom: 2rem;

      @include media-breakpoint-down(sm) {
        margin-bottom: 1rem;
      }
    }

    &-image {
      background-size: cover;
      background-position: center;
      height: 100%;

      @include media-breakpoint-down(md) {
        min-height: 20.625rem;
      }
    }
  }

  &-card,
  &-card-row {
    z-index: 1;
  }

  .mpcloud-pre-footer-callout-block-card,
  .emtech-pre-footer-callout-block-card {
    .mpcloud-pre-footer-callout-block-card-title,
    .emtech-pre-footer-callout-block-card-title {
      margin-top: 0 !important;
      margin-bottom: 1.625rem;

      @include media-breakpoint-down(sm) {
        margin-bottom: 1rem;
      }
    }
  }
}

.mpcloud-pre-footer-callout-block {
  &::after {
    background-image: linear-gradient(90deg, rgba($cloud-blue, .8) 0.04%, rgba($mp-blue, .8) 100%);
  }
}

.mpcloud-pre-footer-callout-block-card-title {
  color: $mp-blue;
}

.mpcloud-pre-footer-callout-block-card-image {
  background-image: url('/assets/stock-photography/Pexels/MPCloud/pexels-rodnae-productions-6519844.jpg');
}

.emtech-pre-footer-callout-block {
  &::after {
    background-image: linear-gradient(90deg, rgba($em-orange-light, .8) 0.04%, rgba($em-orange-dark, .8) 100%);
  }
}

.emtech-pre-footer-callout-block-card-title {
  color: $em-gray;
}

.emtech-pre-footer-callout-block-card-image {
  background-image: url('/assets/stock-photography/Pexels/MPCloud/pexels-rodnae-productions-6129105.jpg');
}


.mpcloud-footer,
.emtech-footer {
  display: inline-block;
  color: $white;

  &-container {
    @extend .container;

    padding-top: 13px;
    padding-right: 142px;
    padding-bottom: 67px;
    padding-left: 142px;
  }

  &-row {
    @extend .row;

    padding: 14px 0 !important;

    &-chip-wrapper {
      padding: 0;
    }
  }

  &-col {
    @extend .col;

    &:not(:last-child) {
      border-right: 1px solid $mp-blue-lighter;
      margin-right: 39px;
    }
  }

  &-section {
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;

    &-text {
      margin-top: 34px;

      &-line {
        font-size: 16px !important;
        margin-bottom: 18px !important;
      }
    }
  }

  &-link {
    display: block;
    color: $white;

    &:hover,
    &:active {
      color: $white;
    }
  }

  &-img {
    @extend .img-fluid;
  }

  &-copyright {
    padding: 13px 0;
    text-align: center;
  }
}

.mpcloud-footer {
  background-color: $mp-blue;

  &-hr {
    position: relative;
    height: 4px;
    background-color: $mp-blue;
    border: none;
    margin: 7px 60px;
    transform: translateY(-16px);

    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: -19px;
      width: 42px;
      height: 40px;
    }

    &::before {
      left: -42px;
      background: url('../assets/img/FooterContentBlockDecorLeft.svg');
    }

    &::after {
      right: -42px;
      background: url('../assets/img/FooterContentBlockDecorRight.svg');
    }
  }

  &-col {
    &:not(:last-child) {
      border-right: 1px solid $mp-blue-lighter;
    }
  }

  &-copyright {
    background-color: $mp-blue-dark;
  }
}

.emtech-footer {
  background-color: $em-gray-darker;

  &-section-lg {
    font-size: 24px;
    margin-bottom: 4px;
  }

  &-col {
    &:not(:last-child) {
      border-right: 1px solid $em-gray-light;
    }
  }

  &-copyright {
    background-color: $em-gray-dark;
  }
}
