.form-group {
  font-family: $font-family-headings;
  font-weight: 600;
  color: $gray-80;
}
.form-group label {
  font-weight: 600;
}


/**
 * Overrides default HubSpot form styles.
 */

ul.inputs-list {
  padding-left: 0;
  list-style-type: none;
}

input[type="file"] {
  border: none;
}


.hs-button {
  @extend .btn;

  &.primary {
    @extend .btn-primary;
  }
  &.large {
    @extend .btn-lg;
  }

}
.hs-input {
  @extend .form-control;
}
.hs-form-field, .hs-submit {
  @extend .form-group;
}
.hs-form-field label span {
  @extend .form-group;
}
.hs-form-required {
  padding-left: .25rem;
  font-size: .85rem;
  color: $primary;
}
.hs-field-desc {
  font-size: .75rem;
  font-weight: 300;
}
.hs-input.invalid, .hs-input.error {
  border-color: #d00;
}
.hs-error-msgs {
  list-style-type: none;
  margin-left: 0;
  padding-left: .5rem;
  .hs-error-msg {
    font-size: .8rem;
    font-weight: 400;
    color: #d00;
  }
}
.legal-consent-container p {
    font-size: .75rem !important;
    color: #999 !important;
}

.insights-contact-form {
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 2rem;
  background-color: $gray-10;
  border-top: 3px solid $primary;

  form {
    width: 70%;
    margin: 0 auto;

    fieldset {
      max-width: 100% !important;

      &.form-columns-1 div.input input,
      &.form-columns-1 div.input textarea {
        width: 100% !important;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .insights-contact-form
  {
    margin-left:-15px;
    margin-right:-15px;

    form {
      width:100%;
    }
  }
}

.mpcloud-form,
.emtech-form,
.request-a-demo-form {
  @extend .row;
  @extend .mt-4;
  @extend .mb-3;
  @extend .my-md-5;
  @extend .col-md-8;
  @extend .pb-5;
  display: flex;
  width:100%;

  @include media-breakpoint-down(sm) {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }

  &-required,
  .hs-form-required {
    @extend .ml-1;
    color: red;
    font-weight: 600;
    display: inline-block;
  }

  &-row {
    @extend .row;
    @extend .mb-3;
    @extend .px-3;
    width: 100%;

    @include media-breakpoint-down(sm) {
      padding: 0 !important;
      margin: 0 !important;
    }
  }

  label {
    display: block;
    font-weight: 600;
  }

  input[type="color"],
  input[type="date"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="file"],
  input[type="image"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="range"],
  input[type="reset"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  select,
  textarea {
    display: block;
    width: 100%;
    height: 3rem;
    border: 1px solid rgba(44,195,226,1);
    background-color: rgba(246,252,254,1);
    margin: 0rem !important;
  }

  input[type="checkbox"],
  input[type="radio"],
  input[type="checkbox"].hs-input,
  input[type="radio"].hs-input {
    height: 1.25rem !important;
    width: 1.25rem !important;
    margin: .5rem .5rem .5rem 0rem !important;
    border: 1px solid rgba(44,195,226,1);
    background-color: rgba(246,252,254,1);
  }

  textarea {
    min-height: 4rem !important;
    resize: none;
  }

  ul[role="checkbox"]{
    @extend .m-0;
    @extend .p-0;
    list-style: none;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: .5rem;

    @include media-breakpoint-down(sm) {
      grid-template-columns: 100%;
      grid-gap: 1rem;
    }

    li {
      @extend .mb-2;
      @extend .mb-md-0;
      //col-12 col-md-6
    }
  }

  label.checkbox  {
     margin: 0rem;
     display: inline-flex;
     align-items: center;
  }

  /******************************
    Hubspot Styling
  ********************************/

  fieldset {
    max-width: 100% !important;

    &.form-columns-2 {
      display: grid;

      @include media-breakpoint-up(sm) {
        grid-gap: 1.5rem;
        grid-auto-flow: column;
      }

       .hs-form-field {
         width: 100% !important;
         float: none !important;
       }
    }
    .hs-input[type="email"],
    .hs-input[type="text"],
    .hs-input[type="password"],
    .hs-input[type="phone"] {
      width: 100% !important;

      @include media-breakpoint-down(sm) {
        width: 100% !important;
      }
    }

  }

  .input {
    @extend .m-0;

    .hs-input,
    .form-columns-1 .hs-input,
    .form-columns-2 .hs-input {
      width: 100% !important;
    }
  }

  .hs-form-checkbox-display,
  .hs-form-radio-display {
    @extend .d-flex;
  }

  .hs_cos_wrapper_type_form {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
  }

  .hs-form-field label span:not(.hs-form-required)  {
     @extend label.checkbox;
  }

  .hs-form-required {
    margin: 0rem !important;
    display: inline-flex;
  }
}
