
header {

  .navbar-brand .brand-tagline {
    @extend .align-middle;
    display: inline-block;
    margin-top:3px;
    width: 200px;
    white-space: normal;
    font-family: $font-family-headings;
    font-size: .75rem;
    font-weight: 600;
    line-height: .9rem;
    color: $gray-70;
  }

  ul.navbar-nav li.nav-item {

    a.nav-link {
      padding-left: .65rem;
      padding-right: .65rem;
      font-weight: 600;
      color: #000;
      span {
        padding: .25rem .5rem;
      }

      &:hover, &.hovered {
        background-color: $primary;
        color: $white !important;
      }
      &.active {
        color: $primary;
        span {
          border-bottom: 2px solid $primary;
        }
      }
    }
  }
  .btn {
    font-weight: 600;
    padding: .5rem 1.5rem;
  }
  // .dropdown:hover .dropdown-menu {
  //  display: block !important;
  // }
  .dropdown-toggle::after {
    border: none;
  }
  .dropdown-menu {
    margin: 0;
    padding: .5rem 0;
    border: none;
    border-radius: 0;
    background-color: $primary;

    .dropdown-item {
      font-family: $font-family-headings;
      font-weight: 400;
      line-height: 2rem;
      color: $white;
      &:hover {
        background-color: $cloud-blue;
      }
    }
  }
}

.mpcloud-header {
  &-navbar {
    @extend .navbar;
    @extend .navbar-expand-lg;

    background-color: $white;
    white-space: nowrap;

    &-container {
      @extend .container;
      @extend .navbar-light;
      padding: 1rem;

      @include media-breakpoint-down(sm) {
        padding: 0rem;
      }
    }

    &-brand {
      @extend .navbar-brand;
      position: relative;

      img {
        object-fit: contain;
        min-width: 9rem;

        @include media-breakpoint-up(lg) {
          min-width: 12rem;
        }
      }
    }

    &-toggler {
      @extend .navbar-toggler;
    }

    &-collapse {
      @extend .navbar-collapse;
    }

    &-nav {
      @extend .navbar-nav;
      @extend .ml-auto;

      @include media-breakpoint-down(md) {
        padding-top: 1rem;
      }
      @include media-breakpoint-up(lg) {
        align-items: center;
      }

      &-item {
        @extend .nav-item;
      }

      &-link {
        @extend .nav-link;

        color: $mp-blue !important;
        font-weight: 600 !important;
        margin: 0 .5rem;
        border-bottom: 3px solid transparent;

        @include media-breakpoint-down(lg) {
          margin: .25rem;
        }

        &.active {
          border-bottom-color: $pulse-red;
        }
      }
    }
    .btn-mpcloud {
      width: 100%;

      @include media-breakpoint-down(lg) {
        padding-left: .75rem !important;
        padding-right: .75rem !important;
      }
    }
  }

  .mpcloud-header-navbar {
    .mpcloud-header-navbar-container {
      .mpcloud-header-navbar-collapse {
        .mpcloud-header-navbar-nav {
          .mpcloud-header-navbar-nav-item {
            .mpcloud-header-navbar-nav-link {
              position: relative;
              &:hover {
                background-color: $white !important;
                border-bottom-color: $mp-blue-lightest;
                color: $mp-blue !important;
              }
            }
          }
        }
      }
    }
  }

  &-navbar-brand,
  &-navbar-nav-link,
  &-navbar-toggler {
    position: relative;

    &:focus,
    &:focus-visible {
      outline: none;
    }
    &:focus-visible:after {
      content: '';
      border-radius: 6px;
      box-shadow: 0 0 2px 1px $cloud-blue-light;
      height: calc(100% + .75rem);
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      width: calc(100% + .75rem);
    }

  }

  &-navbar-toggler {
    background-image: none;
    border: none;

    &[aria-expanded="false"] .icon-menu,
    &[aria-expanded="true"] .icon-close {
      display: inline-block;
      font-size: 1rem;
    }

    &[aria-expanded="true"] .icon-menu,
    &[aria-expanded="false"] .icon-close {
      display: none;
    }
  }
}


.emtech-header {
  &-navbar {
    @extend .navbar;
    @extend .navbar-expand-lg;

    background-color: $white;
    white-space: nowrap;

    &-container {
      @extend .container;
      @extend .navbar-light;
      padding: 1rem;

      @include media-breakpoint-down(sm) {
        padding: 0rem;
      }
    }

    &-brand {
      @extend .navbar-brand;
      position: relative;

      img {
        object-fit: contain;
        min-width: 9rem;

        @include media-breakpoint-up(lg) {
          min-width: 12rem;
        }
      }
    }

    &-toggler {
      @extend .navbar-toggler;
    }

    &-collapse {
      @extend .navbar-collapse;
    }

    &-nav {
      @extend .navbar-nav;
      @extend .ml-auto;

      @include media-breakpoint-down(md) {
        padding-top: 1rem;
      }
      @include media-breakpoint-up(lg) {
        align-items: center;
      }

      &-item {
        @extend .nav-item;
      }

      &-link {
        @extend .nav-link;

        color: $emt-gray !important;
        font-weight: 600 !important;
        margin: 0 .5rem;
        border-bottom: 1px solid transparent;

        &.active {
          border-bottom-color: $emt-orange;

          &:before,
          &:after {
            content: '';
            display: block;
            height: .133rem;
            width: .133rem;
            background: $emt-gray;
            border-radius: 100%;
            position: absolute;
            bottom: -.11rem;
            z-index: 1;
          }

          &:before {
            left: -.325rem;
          }

          &:after {
            right: -.325rem
          }
        }
      }
    }
    .btn-emtech-primary {
      width: 100%;
    }
  }

  .emtech-header-navbar {
    .emtech-header-navbar-container {
      .emtech-header-navbar-collapse {
        .emtech-header-navbar-nav {
          .emtech-header-navbar-nav-item {
            .emtech-header-navbar-nav-link {
              position: relative;
              &:hover {
                background-color: $white !important;
                border-bottom-color: $mp-blue-lightest;
                color: $mp-blue !important;
              }
            }
          }
        }
      }
    }
  }

  &-navbar-brand,
  &-navbar-nav-link,
  &-navbar-toggler {
    position: relative;

    &:focus,
    &:focus-visible {
      outline: none;
    }
    &:focus-visible:after {
      content: '';
      border-radius: 6px;
      box-shadow: 0 0 2px 1px $cloud-blue-light;
      height: calc(100% + .75rem);
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      width: calc(100% + .75rem);
    }

  }

  &-navbar-toggler {
    background-image: none;
    border: none;

    &[aria-expanded="false"] .icon-menu,
    &[aria-expanded="true"] .icon-close {
      display: inline-block;
      font-size: 1rem;
    }

    &[aria-expanded="true"] .icon-menu,
    &[aria-expanded="false"] .icon-close {
      display: none;
    }
  }
}


body.mpcloud-sticky-header,
body.emtech-sticky-header {
  .mpcloud-header,
  .emtech-header {
    position: sticky;
    top: 0;
    background-color: $white;
    z-index: 9;
    box-shadow: 0rem .75rem .75rem .25rem $white;
  }
}
