/**
 * Overrides default HubSpot form styles.
 */

 .header-container.container-fluid,
 .body-container.container-fluid,
 .footer-container.container-fluid{
     padding: 0;
 }

 .container-fluid:before,
 .container-fluid:after {
     display: none;
 }

 .row-fluid [class*="span"] {
     min-height: 0;
 }


// Only show the hero on the News (Blog) landing page NOT any listing pagination pages OR blog post detail page
body.blog--listing,
body.blog--post {

  &.blog--listing-is-page-1 {
    #MPCloudHero {
      display: block;
    }
  }

  &:not(.blog--listing-is-page-1) {
    #MPCloudHero {
      display: none;
    }
  }
}

// This is the closest parent wrapper HubSpot insert any custom module code into
.hs_cos_wrapper_type_module {

  .mpcloud-card-group,
  .mpcloud-tile-group,
  .emtech-card-group,
  .emtech-tile-group {
    padding-left: 1rem;
    padding-right: 1rem;
  }

}
