@font-face {
  font-family: 'emtechandmpcloudIcons';
  src:  url('../assets/fonts/emtechandmpcloudIcons.eot?gsc2ym');
  src:  url('../assets/fonts/emtechandmpcloudIcons.eot?gsc2ym#iefix') format('embedded-opentype'),
    url('../assets/fonts/emtechandmpcloudIcons.ttf?gsc2ym') format('truetype'),
    url('../assets/fonts/emtechandmpcloudIcons.woff?gsc2ym') format('woff'),
    url('../assets/fonts/emtechandmpcloudIcons.svg?gsc2ym#emtechandmpcloudIcons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'emtechandmpcloudIcons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-circle-down:before {
  content: "\e900";
}
.icon-clock:before {
  content: "\e901";
}
.icon-copy:before {
  content: "\e902";
}
.icon-database:before {
  content: "\e903";
}
.icon-envelope:before {
  content: "\e904";
}
.icon-facebook:before {
  content: "\e905";
}
.icon-line-chart:before {
  content: "\e906";
}
.icon-linkedin:before {
  content: "\e907";
}
.icon-lock:before {
  content: "\e908";
}
.icon-money-bill:before {
  content: "\e909";
}
.icon-pencil:before {
  content: "\e90a";
}
.icon-play:before {
  content: "\e90e";
}
.icon-support:before {
  content: "\e90b";
}
.icon-twitter:before {
  content: "\e90c";
}
.icon-users:before {
  content: "\e90d";
}
