.stock-photography {
  @extend .container;

  &-row {
    @extend .row;
    border-bottom: 1px solid $gray-lightest;

    &:not(:last-child) {
      .stock-photography-col {
        //padding-bottom: 100px;
      }
    }
    &:last-child {
      border-bottom: 0px solid $gray-lightest;
    }
  }
  &-col {
    @extend .col;

    align-items: center;
    border-right: 1px solid $gray-lightest;
    display: inline-flex;
    justify-content: center;
    min-height: 14rem;

    &:last-child {
      border-right-width: 0px;
    }

    &:not(:last-child) {
      //border-right: 5px solid $gray-lighter;
    }
  }
  &-img {
    @extend .img-fluid;

    display: block;
    max-height: 80%;
    max-width: 100%;
    height: auto;
  }
}

.leading-content-decor-mpcloud,
.leading-content-decor-emtech {
  display: inline-block;
}

.leading-content-decor-mpcloud {
  @extend .p-4;
  @extend .my-4;
  background: linear-gradient(90deg, $cloud-blue 0.04%, $mp-blue 100%);
  &-image {
    height: 188px;
  }
}

.leading-content-decor-emtech {
  @extend .p-4;
  @extend .my-4;
  background: linear-gradient(90deg, $em-orange-light 0%, $em-orange-dark 100%);
  &-image {
    height: 194px;
  }
}
