// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$font-family-headings: 'Mulish', helvetica, arial, sans-serif !important;
$font-family-body: 'Mulish', Georgia, serif !important;

body, p {
  font-family: $font-family-body;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-headings;
  font-style: normal;
  font-weight: 800;
}

h1 {
  font-size: 72px;
  line-height: 1.4;
}
h2 {
  font-size: 45px;
}
h3 {
  font-size: 36px;
}
h4 {
  font-size: 27px;
}
h5 {
  font-size: 24px;
}
h6 {
  font-size: 18px;
}

.btn,
.navbar .nav-item .nav-link,
.pagination .page-item, .page-link
{
  font-family: $font-family-headings;
  font-style: normal;
  font-weight: 400;
}

a {
  color: $primary;
  &:hover {
    color: $mp-blue-dark;
  }
}

blockquote {
  display: block;
  margin: 2rem auto;
  text-align: center;
  q {
    display: block;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-style: italic;
    color: $mp-blue-dark;
    quotes: "“" "”" "‘" "’";
  }
  q::before {
    content: open-quote;
  }
  q::after {
    content: close-quote;
  }
  cite {
    display: block;
    font-size: .9rem;
    color: $gray-70;
  }
  cite::before {
    content: "\2014 \000A0";
  }
  cite::after {
    content: "\000A0 \2014";
  }
}
