---
layout: demo-emt
title: Home
---

<div class="container">
  {% include _component-emt-hero.html %}
</div>

<div id="EMTechCarouselLeadingContent" class="carousel emtech-leading-content-carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <p class="emtech-leading-content-carousel-comment">
          This only has a single slide.
      </p>
      <p class="emtech-leading-content-carousel-author">
        Jon D., Job Title<br>
        Company Name
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-9 mx-auto    mt-4 mb-3 mt-md-5 mb-md-4">
        <h2 class="text-gray text-center">Ambulance Revenue Cycle Management</h2>
        <h4 class="text-gray text-center font-weight-normal mt-4">An experienced team trained to significantly improve your collections and achieve better cash flow.</h4>
    </div>
  </div>

  <div class="row   mb-3 mb-md-4 pb-3 pb-md-4">
    <div class="emtech-card-group">

      <div class="emtech-card">
        <div class="emtech-card-image">
          <div class="emtech-chip-card-asset">
            <span class="icon-clock"></span>
          </div>
        </div>
        <div class="emtech-card-title">
          <h3>
            Faster Payment Turnaround
          </h3>
        </div>
        <p class="emtech-card-description">We shorten your turnaround time on payments by utilizing the latest software and internal policies to ensure clean claims submission the first time.</p>
      </div>

      <div class="emtech-card">
        <div class="emtech-card-image">
          <div class="emtech-chip-card-asset">
            <span class="icon-copy"></span>
          </div>
        </div>
        <div class="emtech-card-title">
          <h3>
            Leave The Legwork to Us
          </h3>
        </div>
        <p class="emtech-card-description">Our billing experts do the legwork to ensure claims are clean upfront – eliminating the frustration of constant follow-up and delays related to denials and appeals. You can count on our team to comply with current state, federal, and payer requirements.</p>
      </div>

      <div class="emtech-card">
        <div class="emtech-card-image">
          <div class="emtech-chip-card-asset">
            <span class="icon-users"></span>
          </div>
        </div>
        <div class="emtech-card-title">
          <h3>
            Highly Trained Staff at Your Service
          </h3>
        </div>
        <p class="emtech-card-description">Our Billing Specialists are certified by the National Academy of Ambulance Coding® (NAAC), and receive the CAC™ designation as a certified ambulance coders — the only nationally recognized ambulance billing and coding certification.</p>
      </div>

      <div class="emtech-card">
        <div class="emtech-card-image">
          <div class="emtech-chip-card-asset">
            <span class="icon-support"></span>
          </div>
        </div>
        <div class="emtech-card-title">
          <h3>
            Outstanding Customer Service
          </h3>
        </div>
        <p class="emtech-card-description">Provide your clients with our toll-free number, and individuals trained in outstanding customer service will attend to their questions or concerns.</p>
      </div>

      <div class="emtech-card">
        <div class="emtech-card-image">
          <div class="emtech-chip-card-asset">
            <span class="icon-database"></span>
          </div>
        </div>
        <div class="emtech-card-title">
          <h3>
             Dependable Data Storage, Security and Backup
          </h3>
        </div>
        <p class="emtech-card-description">Spend less time dealing with computers and technical issues and more time managing successful operations.</p>
      </div>

      <div class="emtech-card">
        <div class="emtech-card-image">
          <div class="emtech-chip-card-asset">
            <span class="icon-line-chart"></span>
          </div>
        </div>
        <div class="emtech-card-title">
          <h3>
            Customized KPI Reporting
          </h3>
        </div>
        <p class="emtech-card-description">EMTech will work with you to customize beneficial revenue performance reports including A/R reports on patient accounts, claim status and financial performance.</p>
      </div>

    </div>
  </div>

</div>

<div class="mt-4">
  {% include _component-emt-pre-footer-callout-block.html %}
</div>
