---
layout: demo-emt
title: Services
---

<div class="container">

  <div id="EMTechHero" class="carousel emtech-hero-carousel slide" data-ride="carousel">
    <div class="carousel-inner">

      <div class="carousel-item active">
        <div class="emtech-hero-carousel-row">
          <div class="emtech-hero-carousel-col">
              <h1 class="emtech-hero-carousel-title">
                Pass Go and Collect Prior Authorization Dollars
              </h1>
              <p class="emtech-hero-carousel-description">
                Count on EMTech to get you out of the red, and begin earning money on repetitive scheduled transports.
              </p>
              <div class="emtech-hero-carousel-actions">
                <a href="#" class="btn  btn-emtech btn-emtech-lg" type="submit" aria-label="Learn More">Learn More</a>
              </div>
          </div>
          <div class="emtech-hero-carousel-col">
            <div class="emtech-hero-carousel-image-container">
              <picture class="emtech-hero-carousel-image-container-img" style="background-image: url('https://www.emtechbilling.com/app/uploads/2018/03/pass-go.jpg');">
                <source media="(min-width:650px)" srcset="https://www.emtechbilling.com/app/uploads/2018/03/pass-go.jpg">
                <source media="(min-width:465px)" srcset="https://www.emtechbilling.com/app/uploads/2018/03/pass-go.jpg">
                <img src="https://www.emtechbilling.com/app/uploads/2018/03/pass-go.jpg" alt="">
              </picture>
              <p class="emtech-hero-carousel-image-container-caption">Streamline your payment processing with the EMTech Billing solution.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>

{% include _component-emt-leading-content-carousel.html %}

<div class="container">
  <div class="row">
    <div class="col-12 mt-4 mb-3 mt-md-5 mb-md-4">
        <h3 class="text-gray">Our Services</h3>
        <p class="col-md-8">EMTech offers full-service EMS billing for emergency trips, non-emergency rescue runs, dialysis transports, air ambulance transports and more.</p>
    </div>
  </div>

  <div class="row   mb-3">
    <div class="emtech-tile-group">

      <div class="emtech-tile">
        <div class="emtech-tile-image">
          <div class="emtech-chip-tile-asset">
            <span class="icon-clock"></span>
          </div>
        </div>
        <div class="emtech-tile-title">
          <h3>
            Consulting
          </h3>
        </div>
        <p class="emtech-tile-description">Leverage our nearly 20 years experience in the ambulance industry in a customized approach to your business.</p>
      </div>
      <div class="emtech-tile">
        <div class="emtech-tile-image">
          <div class="emtech-chip-tile-asset">
            <span class="icon-envelope"></span>
          </div>
        </div>
        <div class="emtech-tile-title">
          <h3>
            Revenue Cycle Management
          </h3>
        </div>
        <p class="emtech-tile-description">Rely on us as your one-stop specialty biller for claims submission.</p>
      </div>
      <div class="emtech-tile">
        <div class="emtech-tile-image">
          <div class="emtech-chip-tile-asset">
            <span class="icon-support"></span>
          </div>
        </div>
        <div class="emtech-tile-title">
          <h3>
            Collections
          </h3>
        </div>
        <p class="emtech-tile-description">Collect payments more quickly, and keep more money for your services.</p>
      </div>
      <div class="emtech-tile">
        <div class="emtech-tile-image">
          <div class="emtech-chip-tile-asset">
            <span class="icon-money-bill"></span>
          </div>
        </div>
        <div class="emtech-tile-title">
          <h3>
            Secure Partnership
          </h3>
        </div>
        <p class="emtech-tile-description">Depend on our innovation in submission, HIPAA compliance, secure data and electronic medical record storage.</p>
      </div>
      <div class="emtech-tile">
        <div class="emtech-tile-image">
          <div class="emtech-chip-tile-asset">
            <span class="icon-envelope"></span>
          </div>
        </div>
        <div class="emtech-tile-title">
          <h3>
            Prior Authorization Consulting
          </h3>
        </div>
        <p class="emtech-tile-description">Start earning more on repetitive scheduled transports.</p>
      </div>

    </div>
  </div>

</div>

<div class="mt-4">
  {% include _component-emt-pre-footer-callout-block.html %}
</div>
